{{ define "main" }} {{ partial "back_link.html" .}}

<header class="prose prose-gray dark:prose-invert">
  <p class="text-secondary mb-0 text-sm">{{ .Title }}</p>
  <h2 class="p-name mb-2 mt-0 text-2xl">An overview of time-stamped content on this website</h2>
</header>

{{ $feed := where (where .Site.RegularPages "Type" "ne" "notes" ) "Type" "ne"
"page" }}
<ul class="feed mt-20">
  {{ range $feed }}
  <li class="flex mb-5">
    <div class="mt-[2px] flex w-10 flex-none flex-col">
      <div class="">
        {{ if .Params.photo }} {{ partial "post_type_photo.html" . }} {{ else if
        .Params.replyTo }} {{ partial "post_type_reply.html" . }} {{ else if
        .Params.likeOf }} {{ partial "post_type_like.html" . }} {{ else if
        .Title }} {{ partial "post_type_post.html" . }} {{ else }} {{ partial
        "post_type_note.html" . }} {{ end }}
      </div>
      <div class="ml-2.5 grow border-l">&nbsp;</div>
    </div>
    <div class="grow pb-5">
      {{ if .Title }}
      <h2><a href="{{ .Permalink }}">{{.Title}}</a></h2>
      {{end}}
      <a
        href="{{ .Permalink }}"
        class="mb-3 block text-gray-500 dark:text-white/50"
        ><time class=""
          >{{- (.Date | time.Format site.Params.theme_config.date_format_full)
          }}</time
        ></a
      >
      <article class="">
        {{ if .Params.photo }}
        <figure class="mb-5">
          <img src="{{ .Params.photo }}" alt="{{ .Params.alt }}" />
          <figcaption class="text-secondary text-sm">
            {{ .Params.alt }}
          </figcaption>
        </figure>

        {{ end }} {{ if .Params.replyTo }}
        <div class="prose prose-gray dark:prose-invert">

        <p class="u-in-reply-to mt-0">
          Replied to
          <a
            href="{{.Params.replyTo}}"
            rel="in-reply-to"
            class="u-in-reply-to text-url break-all"
            target="_blank"
          >
            {{ if .Params.replyToName }} {{.Params.replyToName}} {{ else }}
            {{.Params.replyTo}} {{ end }}
          </a>
        </p>
        </div> 
        {{ end }} {{ if .Params.likeOf }}
        <div class="prose prose-gray dark:prose-invert">

        <p class="mt-0">
          Liked
          <a
            href="{{.Params.likeOf}}"
            class="u-like-of text-url break-all"
            target="_blank"
            >{{.Params.likeOf}}</a
          >
        </p>
        </div> 
        {{ end }} {{ if .Title }}
      
        <div class="">
          <a href="{{ .Permalink }}" class="button">Continue reading</a>
        </div>
        {{else}}
        <content class="prose prose-gray dark:prose-invert"> {{ .Content }} </content>
        {{end}}
      </article>
    </div>
  </li>
  {{ end }}
</ul>

{{ end }}
