{{ define "main" }}

{{ partial "back_link.html" .}}

<article class="prose dark:prose-invert">
  <header class="prose prose-gray dark:prose-invert mb-14">
      <h2 class="p-name">{{ .Title }}</h2>
  </header>

<div class="flex gap-4 mb-14">
    <div class="w-3/4 mr-4">
      <figure class="m-0 p-0">
        <img src="https://res.cloudinary.com/dbi2zounq/image/upload/v1692260666/IMG_4778_fm3g1i.jpg" alt="">
        <figcaption class="mt-3">
          <div class="text-gray-950 dark:text-white">Zinzy</div>
          <div>Assistant to the Regional Manager</div>
        </figcaption>
      </figure>
    </div>
    <div class="w-1/4">
      <figure class="m-0 p-0">
        <img src="https://res.cloudinary.com/dbi2zounq/image/upload/v1696188888/ad4n2opghogfcyyyigad.jpg" alt="">
        <figcaption class="mt-3">
          <div class="text-gray-950 dark:text-white">Lemonade</div>
          <div>Regional Manager</div>
        </figcaption>
      </figure>
    </div> 
  </div> 

  <p>Hello, I’m Zinzy Waleson Geene (she/they) and this is my personal website; a quiet street on the Internet where I come to link and think. It’s a home for soft stances, lived experiences, and critical notes on the things I hold dear. On this website as well as in life, I aim to bring my whole self: the self that works, plays, questions, doodles, fears, cooks, prays, gets angry, changes her mind. I write about my <a href="/interests">interests</a> and what I'm up to <a href="/now">now</a>.</p>
  <p>During office hours, I work as a senior researcher and designer at <a href="https://gerimedica.nl/" target="_blank" rel="noopener noreferrer">Gerimedica</a>, a provider of healthcare software. I love the enterprise SaaS space because of its intricate business rules, serious problems, and domain experts. You may be interested to read more about my <a href="/work">work</a>.</p>

  <div class="flex gap-4">
    <div class="w-1/2 mr-4">
      <img src="https://res.cloudinary.com/dbi2zounq/image/upload/c_fill,g_north_east,h_400,w_400/v1678291626/me/portugal_gpnogd.jpg" alt="">
    </div>
    <div class="w-1/2">
      <img src="https://res.cloudinary.com/dbi2zounq/image/upload/c_fill,h_400,w_400/v1678291228/me/pride2019_iunghr.jpg" alt="">
    </div> 
  </div> 

<p>As you can see, I like to laugh a lot.</p>

<p>I'm of São Toméan and Dutch descent and live in Amsterdam, though I grew up in the vastly different-looking and different-feeling Dutch South, where it felt like I was on the sideline of life. Every day, Amsterdam reminds me how important it is to recognize myself in the people around me.</p>

<div class="flex gap-4">
  <div class="w-1/2 mr-4">
    <img src="https://res.cloudinary.com/dbi2zounq/image/upload/c_fill,h_400,w_400/v1668440273/me/six.jpg" alt="">
  </div>
  <div class="w-1/2">
    <img src="https://res.cloudinary.com/dbi2zounq/image/upload/c_fill,h_400,w_400/v1668440272/me/two.jpg" alt="">
  </div> 
</div> 


<p>Together with <a href="https://anjawaleson.notion.site/Anja-Waleson-0182c8df804b4b12ab6e70b5b5795a55" target="_blank" rel="noopener noreferrer">Anja</a> and <a href="https://lemonade.waleson.us/" target="_blank" rel="noopener noreferrer">Lemonade</a> I share a small shoebox on the East side of the city. We are <a href="https://en.wikipedia.org/wiki/Voluntary_childlessness" target="_blank" rel="noopener noreferrer">child-free</a> and vibing hard.</p>

<p>As a person of color who is queer, progressively Christian, and neurodivergent, I recognize that I need to make serious efforts to find communities of kinfolk. I'm an amateur facilitator building spaces for queer people (of color) at Queer Salon and QPOC Reading Club. At work, I started the Neurodiversity Club. In addition, I'm helping to build a truly inclusive, anti-racist, and affirming fellowship at <a href="https://allsaintsamsterdam.church/" target="_blank" rel="noopener noreferrer">All Saints Amsterdam</a>.</p>

<figure>
  <img src="https://res.cloudinary.com/dbi2zounq/image/upload/v1701191539/me/zinzy-singing_vhumzp.png" alt="">
  <figcaption>I usually keep my musical endeavors private, although I did end up as a question in the office pub quiz last year</figcaption>
</figure>

<p>I'm an amateur musician and enjoy writing and singing music. We share our home with three guitars, a piano, and a few other sound makers. In various forms and frequencies, I've been keeping a diary since I was a little girl. In a way, this website is very much a part of that. I'm an advocate for the IndieWeb, which is a snooty way of saying I think the Internet should be scattered, playful, experimental, personal, and cozy.
</p>

<figure>
  <img src="https://res.cloudinary.com/dbi2zounq/image/upload/v1673958111/me/zinzy-at-a-party_vrzlqr.jpg" alt="">
  <figcaption>Here I am with Robin (left) and Michar (right) at an Airtrade office part in 2019.</figcaption>
</figure>

<p>My Xhosa name was inspired by Nelson Mandela's daughter Zindziswa. </p>

<p>I've been sober since May 2018.</p>
</article>

{{ end }}