{{ define "main" }}

{{ partial "back_link.html" .}}

<article class=" ">
  <header class="prose prose-gray dark:prose-invert mb-14">
      <h2 class="p-name">{{ .Title }}</h2>
      <p>This is an overview of websites I like to visit. Most of them are quirky, highly personal, and experimental in nature.</p>
  </header>


  {{ with .Site.Data.bookmarks }}
    <ul class="mb-7" role="bookmarks">
      <h3 class="text-xl text-gray-950 dark:text-white font-medium">People I know</h3>
    {{ range .friends }}
      <li class="m-0 p-0">
        <a href="{{ .url }}" target="_blank">{{ .name }}</a>
      </li>
    {{ end }}
    </ul>
    <ul class="mb-7" role="bookmarks">
      <h3 class="text-xl text-gray-950 dark:text-white font-medium">Internet buddies</h3>
    {{ range .internet_buddies }}
      <li class="m-0 p-0">
        <a href="{{ .url }}" target="_blank">{{ .name }}</a>
      </li>
    {{ end }}
    </ul>
    <ul role="bookmarks">
      <h3 class="text-xl text-gray-950 dark:text-white font-medium">Sites I like</h3>
    {{ range .sites }}
      <li class="m-0 p-0">
        <a href="{{ .url }}" target="_blank">{{ .name }}</a>
      </li>
    {{ end }}
    </ul>
  {{ end }}
</article>

{{ end }}