{{ define "main" }} {{ partial "back_link.html" .}}

<article>
  <header class="h-entry prose prose-gray my-12 dark:prose-invert">
    <h2 class="p-name">{{ .Title }}</h2>
    <p class="text-secondary">{{ .Description }}</p>
  </header>

  <div class="prose dark:prose-invert">
    <section>
      <p>I'm a volunteer mentor reserving some of my working hours to coach researchers and designers. The people I speak with are a diverse, friendly bunch: seasoned practitioners with specific problems at the office, newbies looking for a portfolio review, mid-weight designers looking for a raise, and anyone in between. You may <a href="#before-you-book">book a session</a> with me any time through ADPList.</p>
    </section>
  </div>

  <figure class="my-20">
    <img
      src="https://res.cloudinary.com/dbi2zounq/image/upload/w_1300/v1712755362/zinzy.website/zinzy-design-mentor_cbjx5d.jpg"
      alt=""
    />
    <figcaption
      class="text-sm text-gray-500 dark:text-white dark:text-opacity-50"
    >
      Me and
      <a href="https://www.linkedin.com/in/gabrielaroestandy/" target="_blank"
        >Gabriela Roestandy</a
      >
      after a her one-day internship at the Gerimedica office
    </figcaption>
  </figure>

  <div class="mt-20">
    <h3 class="">What it's like to work with me</h3>
    <ul class="mt-7 sm:columns-2">
      {{ range sort $.Site.Data.mentoring "name" }}
      <li class="mb-4 break-inside-avoid-column rounded border bg-gray-50 p-2">
        <p>{{ .quote }}</p>
        <p
          class="mt-3 text-sm text-gray-500 dark:text-white dark:text-opacity-50"
        >
          <a href="{{ .url }}" target="_blank" rel="noopener noreferrer"
            >{{ .name }}</a
          >
        </p>
      </li>
      {{ end }}
    </ul>
  </div>

  <div id="before-you-book" class="pt-20 e-content h-entry prose prose-gray dark:prose-invert">
    {{ .Content }}
  </div>

<section class="mt-20">
  {{ $notes := where .Site.RegularPages "Type" "notes" }}
  <ul class="">
    {{ range $notes }}
    {{ if in .Params.tags "mentoring-guides" }}
    <li class="-mx-3">
      <a class="block rounded p-3 hover:bg-gray-50 dark:hover:bg-gray-900" href="{{ .Permalink }}">
        {{ .Title }}</a>
    </li>
    {{ end }} 
    {{ end }}
  </ul>
</section>

  {{ partial "backlinks.html" . }}
</article>
{{ end }}
