{{ define "main" }} {{ partial "back_link.html" .}}

<article>
  <header class="h-entry prose prose-gray my-12 dark:prose-invert">
    <h2 class="p-name">{{ .Title }}</h2>
    <p class="text-secondary">{{ .Description }}</p>
  </header>

  <figure>
    <img
      src="https://res.cloudinary.com/dbi2zounq/image/upload/w_1300/v1712755362/zinzy.website/zinzy-design-mentor_cbjx5d.jpg"
      alt=""
    />
    <figcaption
      class="text-sm text-gray-500 dark:text-white dark:text-opacity-50"
    >
      Me and
      <a href="https://www.linkedin.com/in/gabrielaroestandy/" target="_blank"
        >Gabriela Roestandy</a
      >
      after a her one-day internship at the Gerimedica office
    </figcaption>
  </figure>

  <div class="my-14">
    <h3 class="">What my mentees are saying</h3>
    <ul class="mt-7 sm:columns-2">
      {{ range sort $.Site.Data.mentoring "name" }}
      <li class="mb-4 break-inside-avoid-column rounded border bg-gray-50 p-2">
        <p>{{ .quote }}</p>
        <p
          class="mt-3 text-sm text-gray-500 dark:text-white dark:text-opacity-50"
        >
          <a href="{{ .url }}" target="_blank" rel="noopener noreferrer"
            >{{ .name }}</a
          >
        </p>
      </li>
      {{ end }}
    </ul>
  </div>

  <div class="e-content h-entry prose prose-gray mb-14 dark:prose-invert">
    {{ .Content }}
  </div>

  {{ partial "backlinks.html" . }}
</article>
{{ end }}
