{{ define "main" }}

{{ partial "back_link.html" .}}

<article class=" ">
  <header class="prose prose-gray dark:prose-invert mb-20">
      <h2 class="p-name">{{ .Title }}</h2>
      <p>This is an overview of websites I like to visit. Most of them are quirky, highly personal, and experimental in nature.</p>
  </header>
  

  {{ $updates := where site.RegularPages "Section" "eq" "updates" }}
  {{ $photos := where $updates "Params.photo" "eq" true }}
<div class="grid grid-cols-4 gap-4">
  {{ range $updates }} 
      {{ if .Params.photo }}
      <div>
        <img src="{{ .Params.photo }}" alt="" class="mb-5">
      </div>
      {{ end }} 
  {{ end }}
</div> 
</article>

{{ end }}