{{ define "main" }} {{ partial "back_link.html" .}}

<article class="h-entry prose prose-gray mb-14 dark:prose-invert">
  <header class="mb-14 lg:mb-32">
    <h2 class="p-name">{{ .Title }}</h2>
    <p class="text-secondary mb-7">{{ .Description }}</p>
  </header>

  {{ if .Params.toc }}
  <aside {{ if .Params.tocBorder }} class="toc" {{ end }}>
    {{ .TableOfContents }}
  </aside>
  {{ end }}

  <div class="e-content">{{ .Content }}</div>

  {{ partial "backlinks.html" . }}
</article>
{{ end }}
