{{ define "main" }} {{ partial "back_link.html" .}}

<div class="">
  <header class="prose dark:prose-invert">
    <p class="mb-0 text-sm">{{ .Title }}</p>
    <h2 class="p-name mb-2 mt-0 text-2xl">{{ .Description }}</h2>
    {{ .Content }}
  </header>

  <section class="mt-20">
    {{ $library := where .Site.RegularPages "Type" "books" }} {{ $path := .Path
    }}
    <ul class="w-full grid md:grid-cols-2 md:gap-4">
      {{ range first 4 $library }}
      <li class="shadow-subtle border p-3 rounded-xl bg-white">
        <div class="flex">
          <div class="w-1/5">
            <img src="{{ .Params.cover}}" class="rounded w-16" />
          </div>
          <div class="w-4/5 text-xs h-full content-center">
            <div class="pl-3">
              <div class="font-medium mb-1">{{ .Title }}</div>
              <!-- <div class="">{{ .Params.author }}</div> -->
              <ul class="list-comma">
                {{ range .Params.tags }}
                <li>{{. }}</li>
                {{end}}
              </ul>
            </div>
          </div>
        </div>
        <!-- <div class="">
          <div class="mt-5 text-">{{ partial "tags.html" .}}</div>
        </div> -->
      </li>
      {{ end }}
    </ul>
  </section>
</div>
{{ end }}
