baseURL = "https://zinzy.website"
languageCode = "en-us"
title = "Zinzy's website" 
theme = "theme"

# When using ref or relref to resolve page links and a link cannot resolved, it will be logged with this log level.
# Valid values are ERROR (default) or WARNING. Any ERROR will fail the build (exit -1).
# Default value: 'ERROR'

refLinksErrorLevel = 'WARNING'
relrefLinksErrorLevel = 'WARNING'

# URL to be used as a placeholder when a page reference cannot be found in ref or relref. Is used as-is.
refLinksNotFoundURL = "/"

[taxonomies]
  category = 'categories'
  tag = 'tags'
  year = 'years'
  month = 'months'

[params]
  title = "Zinzy's website"
  subtitle = 'is a researcher, designer, writer, and mentor making tools for people at work'
  oldPost = "2023"
  [params.author]
    givenName = 'Zinzy'
    familyName = 'Waleson Geene'
    ethnicity = 'Afropean'
    genderIdentity = 'queer'
    locality = 'Amsterdam'
    country = 'The Netherlands'
    jobTitle = 'Senior UX practitioner'
    org = 'Gerimedica'
    nickname = 'Zinzatron'

[permalinks]
  posts = "/:year/:month/:day/:title/"
  books = "library/books/:filename/"
  films = "library/films/:filename/"
  playlists = "library/playlists/:filename/"
  micro = "/:year/:month/:day/:15/:04/:05"
  now = "/now/:year/:month/:day"
  page = "/:slug/"
  garden = "/garden/:slug/"
  music = "/music/:slug/"
  year = "/:year"
  month = "/:month"
  archive = "/archive/:year/:month/"

[outputs]
  home = ['html', 'rss']
  section = ['html', 'rss']


[services]
  [services.rss]
    limit = 4
  
paginate = 3

[security]
  enableInlineShortcodes = false
  [security.funcs]
    getenv = ['^HUGO_']