{{ define "main" }} {{ partial "back_link.html" .}}

<article class="h-entry prose prose-gray mb-14 dark:prose-invert">
  <header class="my-12">
    <h2 class="p-name mb-0">{{ .Title }}</h2>
    <p>{{ .Description }}</p>
  </header>

  <div class="e-content" class="mb-14">{{ .Content }}</div>

  {{ range $.Site.Data.internetlibrary }}
  
      {{ range .children }}
      <h3>{{ .name }}</h3>
      <p>{{ .description }}</p>
        <ul class="">
          {{ range .children }}
          <li class="">
              <a href="{{ .url }}">{{ .property }}{{ if .description }}:{{ end }}</a>
            {{ if .description }} {{ .description }} {{ end }}
           {{ end }}
          </li>
        </ul>
      {{ end }}
    </div>
  </details>
  {{ end }} {{ partial "backlinks.html" . }}
</article>
{{ end }}
