{{ define "main" }} {{ partial "back_link.html" .}}

<article class="h-entry prose prose-gray mb-14 dark:prose-invert">
  <header class="my-12">
    <h2 class="p-name mb-0">{{ .Title }}</h2>
    <p>{{ .Description }}</p>
  </header>

  <div class="e-content" class="mb-14">{{ .Content }}</div>

  {{ range $.Site.Data.omake }}
  <details id="{{ .name }}">
    <summary>{{ .name }}</summary>
    <div>
      <!-- <div class="p-2 my-2 border">
              {{ .description }}
            </div> -->
      {{ range .children }}
      <details id="{{ .name }}">
        <summary>{{ .name }}</summary>
        <ul class="">
          {{ range .children }}
          <li class="">
            {{ if .value }} {{ if .url }}
            <span class="">{{ .property }}:</span>
            <a href="{{ .url }}">{{ .value }}</a>
            {{ else }}
            <span class="">{{ .property }}:</span>
            {{ .value }} {{ end }} {{ else }} {{ if .url }}
            <a href="{{ .url }}">{{ .property }}</a>
            {{ else }} {{ .property }} {{ end }} {{ end }}
          </li>
          {{ end }}
        </ul>
      </details>
      {{ end }}
    </div>
  </details>
  {{ end }} {{ partial "backlinks.html" . }}
</article>
{{ end }}
