{{ define "main" }} {{ partial "back_link.html" .}}

<article class="container h-entry prose prose-gray dark:prose-invert">
  <header class="">
    <p class="text-sm text-secondary mb-0">{{ .Title }}</p>
    <h2 class="p-name text-3xl mt-2 mb-0 lg:w-3/4">{{ .Description }}</h2>
  </header>

  {{ if .Params.toc }}
  <aside {{ if .Params.tocBorder }} class="toc" {{ end }}>
    {{ .TableOfContents }}
  </aside>
  {{ end }}

  <div class="e-content font-serif">{{ .Content }}</div>

  {{ partial "backlinks.html" . }} {{- partial "thanks.html" . -}}
</article>
{{ end }}
