{{ define "main" }} {{ partial "back_link.html" .}}

<header class="prose prose-gray mb-20 dark:prose-invert">
  <h2 class="mb-5">{{ .Title }}</h2>
  <p class="text-secondary mb-7">
    photos
  </p>
</header>

<section>
  {{ $postsDefault := where .Site.RegularPages "Type" "photos" }}

  <ul class="-mx-3">
    {{ range $postsDefault }}
    <li class="mb-5">
      <a class=" border border-gray-150 dark:border-zinc-700 dark:bg-zinc-800 hover:border-gray-300 p-3 rounded-md shadow-subtle block" href="{{ .Permalink }}">
        <span class="block font-medium">{{ .Title }}</span>
        <time class="text-secondary text-sm"
          >{{- (.Date | time.Format
          site.Params.theme_config.date_format_archive) }}</time
        >
      </a>
    </li>
    {{ end }}
  </ul>
</section>
{{ end }}
