{{ define "main" }} {{ partial "back_link.html" .}}

<header>
  <p class="text-secondary mb-0 text-sm">{{ .Title }}</p>
  <h2 class="p-name mb-2 mt-0 text-2xl">Once upon a time, I made a modest living as a freelance photographer. While I have since found other means of employment, I do still enjoy photography.
  </h2>
</header>

<div
class="my-14 flex rounded bg-pink-50 p-3 text-xs text-pink-700 dark:bg-pink-300/10 dark:text-white"
>
<span class="mr-2 inline-block content-center md:leading-9"
  >{{- partial "symbols/alert.html" . -}}</span
>
<span class="inline-block"
  >Please consider this a growing archive</span
>
</div>

<section>
  {{ $postsDefault := where .Site.RegularPages "Type" "photos" }}

  <ul class="photos mt-20">
    {{ range $postsDefault }}
    <li class="mb-20">
      <p class="text-secondary text-sm mb-5"><time>{{- (.Date | time.Format site.Params.theme_config.date_format_medium)
        }}</time
      > | {{ .Title }}</p>
      {{ .Content }}
    </li>
    {{ end }}
  </ul>
</section>
{{ end }}
