{{ define "main" }} {{ partial "back_link.html" .}}

<article class="h-entry prose prose-gray dark:prose-invert">
  <header class="mb-14">
    <h2 class="p-name mb-0">{{ .Title }}</h2>
    <div class="">
      <time
        class="dt-published text-italic inline-block text-gray-500 dark:text-white/50"
        datetime="{{ .Date }}"
      >
        {{ .Date | time.Format site.Params.theme_config.date_format_full }}
      </time>
    </div>
  </header>

  <content class="e-content"> {{- partial "content_wikified" . -}} </content>

  
</article>

<!-- {{ partial "tags.html" .}} -->

{{ partial "backlinks.html" . }} {{ end }}
