<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}" class="scroll-smooth min-h-full">
    {{- partial "head.html" . -}}
    <div id="top" class="hidden scroll-smooth"></div>
    <body class="px-5 min-h-full antialiased bg-white dark:bg-neutral-900 text-gray-950 dark:text-neutral-100" a="{{ $.Site.Params.theme_config.appearance | default "auto" }}">
         


        <div class="container my-20"> 

        {{- partial "header.html" . -}} 

            <main class="my-20" aria-label="Content">
                
                    <!-- <h2 class="mb-5">{{ .Title }}</h2>
                    <p>{{ .Description }}</p> -->
                    {{- block "main" . }}{{- end }}
            </main>
 

            {{ if not .IsHome }}
            {{- partial "webmentions.html" . -}}
            {{ end }}
         
 
        </div> 


        {{- partial "footer.html" . -}}

  
        <script src="/src/site.js"></script>
    </body>
</html>
