{{ define "main" }} {{ partial "back_link.html" .}}

<article class=" ">
  <div class="h-entry prose prose-slate mb-14 dark:prose-invert">
    <header class="">
      <h2 class="p-name mt-5 mb-4">{{ .Title }}</h2>
    </header>

    <div class="e-content" class="mb-14">{{ .Content }}</div>
  </div>

  {{ $allEntries := (where .Site.RegularPages "Type" "posts") }}

  <div class="mt-20">
    <h3 class="">Common topics</h3>
    <ul class="mt-10">
      {{ range .Site.Taxonomies.tags }} {{ $tag := .Page }} {{ if ne
      $tag.Params.kind "faces" }} {{ if ne $tag.Params.kind "places" }}
      <li
        class="inline-block after:content-['/'] after:mx-2 last:after:content-[''] after:text-slate-200 dark:after-text-slate-700"
      >
        <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
      </li>
      {{ end }} {{ end }} {{ end }}
    </ul>
  </div>

  <!-- <ul class="mt-20">
  {{ range .Site.Taxonomies.tags }}
    {{ $tag := .Page }} 
    {{ if eq $tag.Params.kind "faces" }}
      <li>
        <a href="{{ $tag.RelPermalink }}">{{ $tag.Title }}</a>
      </li>
    {{ end }}
  {{ end }}
</ul>
<ul class="mt-20">
  {{ range .Site.Taxonomies.tags }}
    {{ $tag := .Page }} 
    {{ if eq $tag.Params.kind "places" }}
      <li>
        <a href="{{ $tag.RelPermalink }}">{{ $tag.Title }}</a>
      </li>
    {{ end }}
  {{ end }}
</ul> -->

  <div class="mt-20">
    <h3 class="">Posts by year</h3>
    <ul class="mt-10">
      {{ range $allEntries.GroupByDate "2006" }}
      <li class="flex w-full border-t first:border-none">
        <h3 class="py-2 pr-5">{{ .Key }}</h3>
        <ul class="w-full">
          {{ range .Pages }}
          <li class="border-b last:border-none py-2">
            <a href="{{ .Permalink }}" class="flex">
              <span class="grow">{{ .Title }}</span>
              <!-- <span class="flex-none">{{ .Date | time.Format
                  site.Params.theme_config.date_format_short }}</span> -->
            </a>
          </li>
          {{ end }}
        </ul>
      </li>
      {{ end }}
    </ul>
  </div>
</article>
{{ end }}
