{{ define "main" }} {{ partial "back_link.html" .}}

<div class="">
  <div class="mb-3">
    <a href="/updates" class="">Updates</a> /
    <time class="text-gray-500 dark:text-white/50"
      >{{- (.Date | time.Format site.Params.theme_config.date_format_archive)
      }}</time
    >
  </div>
  <article class="prose prose-gray dark:prose-invert">
    {{ if .Params.photo }}
    <figure class="mb-5">
      <img src="{{ .Params.photo }}" alt="{{ .Params.alt }}" />
      <figcaption class="text-secondary text-sm">{{ .Params.alt }}</figcaption>
    </figure>
    {{ end }} {{ if .Params.replyTo }}
    <p class="u-in-reply-to mt-0">
      Replied to
      <a
        href="{{.Params.replyTo}}"
        rel="in-reply-to"
        class="u-in-reply-to text-url break-all"
        target="_blank"
      >
        {{ if .Params.replyToName }} {{.Params.replyToName}} {{ else }}
        {{.Params.replyTo}} {{ end }}
      </a>
    </p>
    {{ end }} {{ if .Params.likeOf }}
    <p class="mt-0">
      Liked
      <a
        href="{{.Params.likeOf}}"
        class="u-like-of text-url break-all"
        target="_blank"
        >{{.Params.likeOf}}</a
      >
    </p>
    {{ end }}

    <content> {{ .Content }} </content>
  </article>
</div>
{{ end }}
