{{ define "main" }}

<section class="md:container md:flex mb-10 md:mb-0">
  <div class="container md:p-0 md:w-2/3">
    <div class="md:pr-16">
      <div class="text-xl font-medium md:text-2xl mb-10 dark:text-white">
      <p class="mb-3">Hey, <a href="/about" class="underline">I'm Zinzy Waleson Geene</a>, a Product Designer making tools for people at work.</p>
      <p class="">Welcome to my world wide web <a href="/site" class="underline">homepage</a>; a place for soft stances, lived experiences, and critical notes on the things I hold dear.</p>
      </div> 
    <p class="text-sm text-secondary">Made in Amsterdam<span class="time" data-timestamp-text=",<BR>where it's currently {time}"></span></p>
    </div>
  </div>
  <div class="bg-gray-100 dark:bg-zinc-700 mt-10 md:m-0 px-4 py-4 md:w-1/3 rounded-t">
    
    <img src="/img/bijlmer-bookclub-july-2024.jpg" class="my-3" alt="">

    <h3 class="mb-2 font-medium">Coming up on July 20</h3>
    <p class="mb-3 text-sm text-secondary">I'm the Plus One at <a href="https://www.theblackarchives.nl/tbabookclub.html?lang=en" target="_blank" rel="noopener noreferrer" class="font-medium text-gray-950 dark:text-white">Black Archives Bijlmer Book Club</a>, where we'll be talking about <em>None of the Above</em>.</p>
    
    <p class="">
      <a
      href="https://www.eventbrite.nl/e/tbab-book-club-none-of-the-above-s04e07-tickets-791976652487?aff=oddtdtcreator"
      target="_blank"
      rel="noopener noreferrer"
      class="button button-primary bg-gray-950 dark:bg-white text-white dark:text-gray-950"
      >Get your ticket today</a
    >
    </p>
    </div>
</section>

<hr class="hidden md:block my-10 md:mb-20 md:mt-0 dark:border-zinc-700">

<section class="container">
  {{ $feed := where .Site.RegularPages "Type" "posts" }}
  
    {{ range first 1 $feed }}

    
    <p class="text-sm text-secondary">Published on <time class="" datetime="{{- (.Date | time.Format site.Params.theme_config.date_verbose)
    }}"
      >{{- (.Date | time.Format site.Params.theme_config.date_verbose)
      }}</time
    ></p>
      <h3 class="text-xl md:text-2xl my-5"><a href="{{ .Permalink }}">{{.Title}}</a></h3>

      <p class="font-serif">{{.Summary}}</p>

      <div class="text-right mt-3">
        <a
      href="{{ .Permalink }}"
      class="button button-primary"
      >Continue reading <span class="ml-2">→</span></a
    >
      </div>
    {{ end }}


    {{ $postsDefault := where .Site.RegularPages "Type" "posts" }}
    {{ $firstPosts := first 8 $postsDefault}}
    <ul class=" mt-10">
      {{ range after 1 $firstPosts }}
      <li class="py-3 border-t">
        <a class="md:flex content-center w-full" href="{{ .Permalink }}">
          <span class=" font-medium grow">{{ .Title }}</span>
          <time class="flex-none text-secondary text-sm"
            >{{- (.Date | time.Format
            site.Params.theme_config.date_format_archive) }}</time
          >
        </a>
      </li>
      {{ end }}
    </ul>     
    <div class="text-right mt-3">
      <a
    href="/posts"
    class="button button-primary"
    >Posts archive <span class="ml-2">→</span></a
  >
    </div>
</section>
 

{{ end }}
