{{ define "main" }} {{ partial "back_link.html" .}}

<div class="">
  <header class="prose mb-20 dark:prose-invert">
    <h2>
      Everything about
      <span class="">{{ .Title }}</span>
    </h2>

    {{ if .Content }}
      <div class="prose prose-gray dark:prose-invert">{{ .Content }}</div>
    {{ end }}


  </header>

  <section class="mt-20">
    {{ $posts := where .Data.Pages "Type" "posts" }} {{ $micro := where
    .Data.Pages "Type" "micro" }} {{ $filtered := union $posts $micro }} {{
    $feed := $filtered }} {{ $sortedfeed := $feed.ByDate.Reverse }} {{
    $paginator := .Paginate $sortedfeed 7 }} {{ range $paginator.Pages }}

    <article class="mb-20">

      <header class="mb-5">
        <time class="dt-published" datetime="{{ .Date }}">
          <a href="{{ .Permalink }}">
            {{ .Date |
              time.Format site.Params.theme_config.date_format_medium }}
          </a>
        </time>
        {{ if .Params.title }} 
        <h2 class="">
          <a href="{{ .Permalink }}">{{ .Params.title }}</a>
        </h2>
        {{ end }}

      </header> 

      {{ if .Params.title }} 
      <div class="prose prose-gray dark:prose-invert">
        {{ .Summary }} <a href="{{ .Permalink }}">(Continue)</a>
      </div>
      {{ else }}

      <div class="prose prose-gray dark:prose-invert">
        {{ if .Params.replyTo }} {{ if .Params.rsvp }}
        <p>
          {{ if eq .Params.rsvp "yes" }}<data class="p-rsvp" value="YES"
            >Is going</data
          >
          to {{ else if eq .Params.rsvp "maybe" }}<data
            class="p-rsvp"
            value="Maybe"
            >Might go</data
          >
          to {{ else if eq .Params.rsvp "no" }}<data class="p-rsvp" value="no"
            >Unable to go</data
          >
          to {{ else if eq .Params.rsvp "interested" }}<data
            class="p-rsvp"
            value="interested"
            >Is interested</data
          >
          in {{ end }}

          <a
            href="{{.Params.replyTo}}"
            rel="in-reply-to"
            class="u-in-reply-to text-url break-all font-normal underline"
            target="_blank"
          >
            {{ if .Params.replyToName }} {{.Params.replyToName}} {{ else }}
            {{.Params.replyTo}} {{ end }}
          </a>
        </p>

        {{ else }}

        <p class="u-in-reply-to mt-0 mb-3">
          Replied to
          <a
            href="{{.Params.replyTo}}"
            rel="in-reply-to"
            class="u-in-reply-to text-url break-all font-normal underline"
            target="_blank"
          >
            {{ if .Params.replyToName }} {{.Params.replyToName | markdownify }}
            {{ else }} {{.Params.replyTo}} {{ end }}
          </a>
        </p>
        {{ end }} {{ else if .Params.likeOf }}
        <p class="mt-0">
          Liked
          <a
            href="{{.Params.likeOf}}"
            class="u-like-of text-url break-all font-normal underline"
            target="_blank"
            >{{.Params.likeOf}}</a
          >
        </p>
        {{ end }}
      </div>
      <div class="prose prose-gray dark:prose-invert">{{ .Content }}</div>
      {{ end }}
    </article>

    {{ end }} {{ partial "pagination.html" . }}
  </section>
</div>

{{ end }}
