{{ define "main" }} {{ partial "back_link.html" .}}

<div class="">
  <header class="prose mb-20 dark:prose-invert">
    <h2>
      Things about
      <span class="">{{ .Title }}</span>
    </h2>
  </header>

  <!-- {{ partial "feed_all.html" .}} -->

  <section class="mt-20">
    {{ $posts := where .Data.Pages "Type" "posts" }} {{ $shorts := where
    .Data.Pages "Type" "shorts" }} {{ $filtered := union $posts $shorts }} {{
    $feed := $filtered }} {{ $sortedfeed := $feed.ByDate.Reverse }} {{
    $paginator := .Paginate $sortedfeed 7 }} {{ range $paginator.Pages }}

    <article class="mb-20">
      <time
        class="dt-published text-secondary font-medium uppercase text-xs mb-5 block"
        datetime="{{ .Date }}"
      >
        <a href="{{ .Permalink }}">
          {{ if .Params.title }} {{ .Date | time.Format
          site.Params.theme_config.date_format_date }} {{ else }} {{ .Date |
          time.Format site.Params.theme_config.date_format_date_time }} {{ end
          }}
        </a>
      </time>
      {{ if .Params.title }}

      <h2 class="text-2xl mt-0 mb-3">
        <a href="{{ .Permalink }}">{{ .Params.title }}</a>
      </h2>

      <div class="prose prose-gray dark:prose-invert">
        {{ .Summary }} <a href="{{ .Permalink }}">(Continue)</a>
      </div>
      {{ else }}

      <div class="prose prose-gray dark:prose-invert">
        {{ if .Params.replyTo }} {{ if .Params.rsvp }}
        <p>
          {{ if eq .Params.rsvp "yes" }}<data class="p-rsvp" value="YES"
            >Is going</data
          >
          to {{ else if eq .Params.rsvp "maybe" }}<data
            class="p-rsvp"
            value="Maybe"
            >Might go</data
          >
          to {{ else if eq .Params.rsvp "no" }}<data class="p-rsvp" value="no"
            >Unable to go</data
          >
          to {{ else if eq .Params.rsvp "interested" }}<data
            class="p-rsvp"
            value="interested"
            >Is interested</data
          >
          in {{ end }}

          <a
            href="{{.Params.replyTo}}"
            rel="in-reply-to"
            class="u-in-reply-to text-url break-all font-normal underline"
            target="_blank"
          >
            {{ if .Params.replyToName }} {{.Params.replyToName}} {{ else }}
            {{.Params.replyTo}} {{ end }}
          </a>
        </p>

        {{ else }}

        <p class="u-in-reply-to mt-0 mb-3">
          Replied to
          <a
            href="{{.Params.replyTo}}"
            rel="in-reply-to"
            class="u-in-reply-to text-url break-all font-normal underline"
            target="_blank"
          >
            {{ if .Params.replyToName }} {{.Params.replyToName | markdownify }}
            {{ else }} {{.Params.replyTo}} {{ end }}
          </a>
        </p>
        {{ end }} {{ else if .Params.likeOf }}
        <p class="mt-0">
          Liked
          <a
            href="{{.Params.likeOf}}"
            class="u-like-of text-url break-all font-normal underline"
            target="_blank"
            >{{.Params.likeOf}}</a
          >
        </p>
        {{ end }}
      </div>
      <div class="prose prose-gray dark:prose-invert">{{ .Content }}</div>
      {{ end }}
      <div class="mt-5">{{ partial "tags.html" .}}</div>
    </article>

    {{ end }} {{ partial "pagination.html" . }}
  </section>
</div>

{{ end }}
