<footer class="mt-20">

  <p class="h-card mb-10 prose prose-blue lg:prose-xl dark:prose-invert">
    <a class="u-url u-uid" href="{{.Site.Params.baseURL}}">
      <span class="p-name">
        <span class="p-given-name">{{.Site.Params.author.givenName}}</span> 
        <span class="p-family-name">{{.Site.Params.author.familyName}}</span></span></a> 
    is an 
    <span class="">{{.Site.Params.author.ethnicity}}</span> 
    <span class="p-gender-identity">{{.Site.Params.author.genderIdentity}}</span> 
    IndieWeb advocate living in  
    <span class="p-locality">{{.Site.Params.author.locality}}</span> 
    (<span class="p-country-name">{{.Site.Params.author.country}}</span>) 
    and working as a 
    <span class="p-category">{{.Site.Params.author.jobTitle}}</span> 
    at 
    <span class="p-org">{{.Site.Params.author.org}}</span>.
    <img class="u-photo hidden" src="https://res.cloudinary.com/dbi2zounq/image/upload/v1667744670/me/zinzy-1_telofx.jpg"/> 
  </p>

    <div class="grid grid-cols-2 gap-4 place-content-between">
      <div>
        <a href="https://webring.xxiivv.com/#zinzy" target="_blank" rel="noopener" class="">
          <!-- <img src="https://webring.xxiivv.com/icon.black.svg" alt="XXIIVV webring" class="inline-block mx-auto h-4 w-4" /> -->
          {{- partial "webring_xxiivv.html" . -}}

          
        </a>
      </div>
      <div class="text-right">
        <a href="https://xn--sr8hvo.ws/previous">←</a>
        <a href="https://xn--sr8hvo.ws" class="inline-block mx-1">🕸💍</a>
        <a href="https://xn--sr8hvo.ws/next">→</a>
      </div>
    </div>
   
   
  </footer>