<footer class="mb-7 mt-32 text-sm sm:mb-14 lg:mb-32">
  <div class="text-secondary flex">
    <span class="w-20 flex-none">
      <a
        href="https://xn--sr8hvo.ws/previous"
        class="text-secondary mr-3 inline-block"
        >←</a
      >
      <a href="https://xn--sr8hvo.ws/next" class="text-secondary">→</a>
    </span>
    <span class="grow">
      <span class="text-secondary text-center text-sm">
        Smile, you're on the
        <a href="https://xn--sr8hvo.ws" class="text-secondary inline-block"
          >IndieWeb</a
        >
      </span>
    </span>
    <span class="flex-none">
      <a
        href="https://webring.xxiivv.com/#zinzy"
        target="_blank"
        rel="noopener"
        class="no-underline"
        aria-label="xxiivv webring"
      >
        <!-- <img src="https://webring.xxiivv.com/icon.black.svg" alt="XXIIVV webring" class="inline-block mx-auto h-4 w-4" /> -->
        {{- partial "webring_xxiivv.html" . -}}
      </a></span
    >
  </div>
</footer>
