<header class="flex font-mono mb-28"> 
  <div class="flex-none">
      <h1 class=""><a href="/" class="text-gray-500 dark:text-white dark:text-opacity-50 hover:text-opacity-90">{{ $.Site.Title }}</a></h1>
  </div>
  <div class="grow max-w-full grid justify-items-end">
    <nav class="" aria-label="Main Navigation">
      <ul class="nav-menu flex space-x-8">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        <li class="">
          <a class=" {{ if eq $currentPage.RelPermalink .URL }} text-gray-950 dark:text-white{{ end }}" href="{{.URL}}">{{ .Name }}</a>
        </li>
      {{ end }}
      </ul>
    </nav>
  </div>
</header>
