{{ define "main" }} {{ partial "back_link.html" .}}

<div class="">
  <header class="mb-10 md:mb-20">
    <h2 class="">{{ .Title }}</h2>
    {{ .Content }}
  </header>

  <section class="mt-10">
    <!-- {{ $postsDefault := where .Site.RegularPages "Type" "posts" }} -->
    {{ range where .Site.RegularPages "Type" "garden" }}

    <ul class="">
      <li class="mt-5">
        <h3 class="mb-5">{{ .Key }}</h3>
        <ul class="border rounded dark:border-neutral-800 divide-y divide-gray-200 dark:divide-neutral-800">
          {{ range .Pages }}
          <li class="">
            <!-- <span class="date">{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span> -->
            <a class="block p-3 hover:bg-gray-50 dark:hover:bg-neutral-800 transition-all"
              href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a>
          </li>
          {{- end -}}
        </ul>
      </li>
    </ul>

    {{ end }}
    <!-- 
    <ul class="border-b">



      
      {{ range $postsDefault }}
      <li class="border-t py-3">
        <a class="w-full content-center md:flex" href="{{ .Permalink }}">
          <span class="grow font-medium">{{ .Title }}</span>
          <time class=" flex-none text-sm"
            >{{- (.Date | time.Format
            site.Params.theme_config.date_format_medium) }}</time
          >
        </a>
      </li>
      {{ end }}
    </ul> -->
  </section>
</div>

{{ end }}