<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body class="p-8 xl:text-xl xl:max-w-screen-2xl md:p-20 font-serif text-blue-900 bg-white dark:bg-zinc-950 dark:text-zinc-300" a="{{ $.Site.Params.theme_config.appearance | default "auto" }}">
        <main class="page-content" aria-label="Content">
            <div class="w">
                {{- block "main" . }}{{- end }}
            </div>
        </main>

    {{- partial "footer.html" . -}}
    </body>
</html>
