<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body class="antialiased mx-auto p-8 text-gray-950 bg-white dark:bg-emerald-950 dark:text-zinc-300" a="{{ $.Site.Params.theme_config.appearance | default "auto" }}">

        <header class="flex font-mono mb-28 text-gray-500 dark:text-white dark:text-opacity-50"> 
            <div class="flex-none">
                <h1 class=" ">{{ $.Site.Title }}</h1>
            </div>
            <div class="grow text-right">
                <nav>
                    <ul class="m-0 p-0">
                        <li class="inline-block"><a class="" href="/">Start</a></li>
                        <li class="inline-block"><a class="" href="/about">About</a></li>
                        <li class="inline-block"><a class="" href="/work">Work</a></li> 
                    </ul>
                </nav>
            </div>
  
        </header> 

        <main class="page-content" aria-label="Content">
            <div class="w">
                {{- block "main" . }}{{- end }}
            </div>
        </main>

    {{- partial "footer.html" . -}}
    </body>
</html>
