{{ define "main" }} {{ partial "back_link.html" .}}

<div class="">
  <article class="h-entry">
    <header class="mb-5">
      <h2 class="p-name inline-block">
        <a href="/music">Music</a>
        <span class="text-gray-200 dark:text-neutral-700 inline-block mx-2"
          >/</span
        >
        {{ .Params.title }} {{ if .Params.start }}<span
          class="text-secondary text-sm ml-2"
        >
          {{ .Params.start }}</span
        >
      </h2>
      {{ end }}

      <div class="u-author h-card hidden">
        <img src="/img/avatar.jpg" class="u-photo" />
        <span class="u-url p-name">Zinzy Waleson Geene</span>
      </div>
    </header>

    <content class="e-content prose dark:prose-invert">
      {{- partial "content_wikified" . -}}
    </content>
  </article>

  <section class="mt-10">
    <ul>
      {{ range .Params.songs }}

      <li>
        "{{ .title }}" by {{ .artist }} {{ if .count }}({{ .count }} times){{
        end }}
      </li>
      {{ end }}
    </ul>
  </section>

  <footer class="page-footer">
    <ul>
      <li><a href="/hello" class="underline">Say hello</a></li>
      <li>Follow via <a href="/index.xml" class="underline">RSS</a></li>
    </ul>
  </footer>
</div>
{{ end }}
