{{ define "main" }} {{ partial "back_link.html" .}}

<div class="">
  <article class="h-entry">
    <header class="mb-5">
      <h2 class="p-name inline-block">
        <a href="/music">Music</a>
        <span class="text-gray-200 dark:text-neutral-700 inline-block mx-2">/</span>
        {{ .Params.title }}
      </h2>
      {{ if .Params.start }}<span class="text-secondary text-sm ml-2">{{ .Params.start }}</span>{{ end }}

      <div class="u-author h-card hidden">
        <img src="/img/avatar.jpg" class="u-photo" />
        <span class="u-url p-name">Zinzy Waleson Geene</span>
      </div>
    </header>

    <content class="e-content prose dark:prose-invert">
      {{- partial "content_wikified" . -}}
    </content>
  </article>

  <section class="mt-10">
    <ul class="border rounded dark:border-neutral-800 divide-y divide-gray-200 dark:divide-neutral-800">
      {{ range .Params.songs }}
      <li class="flex items-center justify-between gap-4 p-3">

        <!-- Left side: title + artist -->
        <div class="flex-1 min-w-0">
          <div class="flex flex-wrap items-baseline gap-x-2">
            <span class="font-medium">{{ .title }}</span>
            <span class="text-secondary text-sm leading-6"> {{ .artist }}</span>
          </div>
        </div>

        <!-- Right side: play count -->
        {{ if .count }}
        <span class="flex-none text-secondary text-sm">
          {{ .count }}
        </span>
        {{ end }}

      </li>
      {{ end }}
    </ul>
  </section>


  <div class="my-20">{{ partial "tags.html" .}}</div>

  <div class="my-20">
    <div class="border-t pt-5 mt-5 flex justify-between">
      <p><a href="/hello" class="underline">Say hello</a></p>
      <p>Follow via <a href="/index.xml" class="underline">RSS</a></p>
    </div>
    <div class="border-t pt-5 mt-5 flex">
      <img src="/img/avatar.jpg" alt="" class="flex-none w-20 h-20 mr-5 rounded" />
      <p>
        Hello, I'm <a href="/about" class="underline">Zinzy Waleson Geene</a>, a
        diary-keeper, designer, and community builder yelling at Internet clouds
        since 1997.
      </p>
    </div>
  </div>
</div>
{{ end }}