<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}" class="scroll-smooth">
    {{- partial "head.html" . -}}
    <body class="antialiased mx-auto md:my-32 p-5 md:p-0 bg-white dark:bg-zinc-900" a="{{ $.Site.Params.theme_config.appearance | default "auto" }}">
        

        <main class="container mx-auto" aria-label="Content">
            {{- partial "header.html" . -}}
            <div class="">
                {{- block "main" . }}{{- end }}
            </div>
            {{- partial "footer.html" . -}}
        </main>
  
    </body>
</html>
