{{ define "main" }}
{{ partial "back_link.html" .}}

<article class="prose prose-gray dark:prose-invert">
 
        <p class="post-meta">
            <time class="" datetime="{{ .Date }}">
                {{ .Date | time.Format site.Params.theme_config.date_format }}
            </time>
        </p> 
    <h1>{{ .Title }}</h1>

    {{ if .Params.toc }}
        <aside {{ if .Params.tocBorder }} class="toc" {{ end }}>
            {{ .TableOfContents }}
        </aside>
    {{ end }}

    {{ .Content }}
</article>
{{ end }}
