{{ define "main" }} {{ partial "back_link.html" .}}

<article class="h-entry">
  <header class=" prose prose-gray dark:prose-invert">
    <p class="text-secondary mb-0 text-sm">{{ .Title }}</p>
    <h2 class="p-name my-2 text-2xl">{{ .Description }}</h2>

    <div class="name group flex place-content-center border max-w-fit transition-all hover:border-transparent hover:bg-pink-50 dark:hover:border-transparent dark:hover:bg-pink-300/10 cursor-pointer rounded-3xl">
      <p class="text-gray-600 m-0 text-sm leading-7 ml-3 mr-1 group-hover:text-pink-500 dark:group-hover:text-pink-300">/ zɪn·zi: weɪl·sʌn gi:n /</p>
      <span class="p-1 rounded-full inline-block ">
        {{- partial "symbols/sound.html" . -}}
      </span>
    </div>

  </header>

  <section class="mt-20">
    <p class="text-secondary mb-0 text-sm">What to explore</p>

    <ul
      class="m-0 mt-5 grid list-none grid-cols-2 gap-4 p-0 md:grid-cols-3 lg:grid-cols-4"
    >
      <li class="group m-0 inline-block p-0">
        <a
          href="#about"
          class="flex rounded border px-2 text-xs no-underline transition-all hover:border-transparent hover:bg-pink-50 dark:hover:border-transparent dark:hover:bg-pink-300/10"
        >
          <span
            class="mr-2 inline-block content-center leading-9 transition-all group-hover:rotate-6"
            >{{- partial "symbols/me.html" . -}}</span
          >
          <span
            class="inline-block font-medium leading-9 group-hover:text-pink-500 dark:group-hover:text-pink-300"
            >Me</span
          >
        </a>
      </li>
      <li class="group m-0 inline-block p-0">
        <a
          href="/values"
          class="flex rounded border px-2 text-xs no-underline transition-all hover:border-transparent hover:bg-pink-50 dark:hover:border-transparent dark:hover:bg-pink-300/10"
        >
          <span
            class="mr-2 inline-block content-center leading-9 transition-all group-hover:rotate-6"
            >{{- partial "symbols/values.html" . -}}</span
          >
          <span
            class="inline-block font-medium leading-9 group-hover:text-pink-500 dark:group-hover:text-pink-300"
            >Values</span
          >
        </a>
      </li>
      <li class="group m-0 inline-block p-0">
        <a
          href="/now"
          class="flex rounded border px-2 text-xs no-underline transition-all hover:border-transparent hover:bg-pink-50 dark:hover:border-transparent dark:hover:bg-pink-300/10"
        >
          <span
            class="mr-2 inline-block content-center leading-9 transition-all group-hover:rotate-6"
            >{{- partial "symbols/now.html" . -}}</span
          >
          <span
            class="inline-block font-medium leading-9 group-hover:text-pink-500 dark:group-hover:text-pink-300"
            >Now</span
          >
        </a>
      </li>
      <li class="group m-0 inline-block p-0">
        <a
          href="/site"
          class="flex rounded border px-2 text-xs no-underline transition-all hover:border-transparent hover:bg-pink-50 dark:hover:border-transparent dark:hover:bg-pink-300/10"
        >
          <span
            class="mr-2 inline-block content-center leading-9 transition-all group-hover:rotate-6"
            >{{- partial "symbols/site.html" . -}}</span
          >
          <span
            class="inline-block font-medium leading-9 group-hover:text-pink-500 dark:group-hover:text-pink-300"
            >Site</span
          >
        </a>
      </li>
      <li class="group m-0 inline-block p-0">
        <a
          href="/library"
          class="flex rounded border px-2 text-xs no-underline transition-all hover:border-transparent hover:bg-pink-50 dark:hover:border-transparent dark:hover:bg-pink-300/10"
        >
          <span
            class="mr-2 inline-block content-center leading-9 transition-all group-hover:rotate-6"
            >{{- partial "symbols/library.html" . -}}</span
          >
          <span class="inline-block font-medium leading-9 group-hover:text-pink-500 dark:group-hover:text-pink-300">Library</span>
        </a>
      </li>
      <li class="group m-0 inline-block p-0">
        <a
          href="/follow"
          class="flex rounded border px-2 text-xs no-underline transition-all hover:border-transparent hover:bg-pink-50 dark:hover:border-transparent dark:hover:bg-pink-300/10"
        >
          <span
            class="mr-2 inline-block content-center leading-9 transition-all group-hover:rotate-6"
            >{{- partial "symbols/follow.html" . -}}</span
          >
          <span
            class="inline-block font-medium leading-9 group-hover:text-pink-500 dark:group-hover:text-pink-300"
            >Follow</span
          >
        </a>
      </li>
      <li class="group m-0 inline-block p-0">
        <a
          href="/hello"
          class="flex rounded border px-2 text-xs no-underline transition-all hover:border-transparent hover:bg-pink-50 dark:hover:border-transparent dark:hover:bg-pink-300/10"
        >
          <span
            class="mr-2 inline-block content-center leading-9 transition-all group-hover:rotate-6"
            >{{- partial "symbols/hello.html" . -}}</span
          >
          <span
            class="inline-block font-medium leading-9 group-hover:text-pink-500 dark:group-hover:text-pink-300"
            >Say hello</span
          >
        </a>
      </li>
      <li class="group m-0 inline-block p-0">
        <a
          href="/manual"
          class="flex rounded border px-2 text-xs no-underline transition-all hover:border-transparent hover:bg-pink-50 dark:hover:border-transparent dark:hover:bg-pink-300/10"
        >
          <span
            class="mr-2 inline-block content-center leading-9 transition-all group-hover:rotate-6"
            >{{- partial "symbols/manual.html" . -}}</span
          >
          <span
            class="inline-block font-medium leading-9 group-hover:text-pink-500 dark:group-hover:text-pink-300"
            >Manual</span
          >
        </a>
      </li>
    </ul>
  </section>

  <div
    id="about"
    class="e-content prose prose-gray mt-20 dark:prose-invert"
  >
    {{ .Content }}
  </div>

  {{ partial "backlinks.html" . }} 
</article>
{{ end }}
