{{ define "main" }} {{ partial "back_link.html" .}}

<article class="h-entry">
  <header class="prose prose-gray dark:prose-invert">
    <p class="text-secondary mb-0 text-sm">{{ .Title }}</p>
    <h2 class="p-name my-2 text-2xl">{{ .Description }}</h2>

    <div
      class="name group flex max-w-fit cursor-pointer place-content-center rounded-3xl border transition-all hover:border-transparent hover:bg-pink-50 dark:hover:border-transparent dark:hover:bg-pink-300/10"
    >
      <p
        class="m-0 ml-3 mr-1 text-sm leading-7 text-gray-600 group-hover:text-pink-500 dark:text-zinc-300 dark:group-hover:text-pink-300"
      >
        / zɪn·zi: weɪl·sʌn gi:n /
      </p>
      <span class="inline-block rounded-full p-1">
        {{- partial "symbols/sound.html" . -}}
      </span>
    </div>
  </header>

  <div id="about" class="e-content prose prose-gray mt-20 dark:prose-invert">
    {{ .Content }}
  </div>

  {{ partial "backlinks.html" . }}
</article>
{{ end }}
