{{ define "main" }} {{ partial "back_link.html" .}}

<article class="">
  <div class="h-entry prose prose-gray mb-14 dark:prose-invert">
    <header class="">
      <h2 class="p-name mt-5 mb-4 text-2xl">{{ .Title }}</h2>
    </header>
  
    <div class="e-content" class="mb-14">{{ .Content }}</div>
  </div>

  <ul class="">
    {{ range $.Site.Data.bookmarks }}
    <li class="mt-10 block">
      <h3 class="mb-5">{{ .name }}</h3>
      <ul class="">
        {{ range .children }}
        <li class="inline-block mr-3">
          <a href="{{ .url }}" target="_blank" rel="noopener noreferrer">
            <img src="https://www.google.com/s2/favicons?domain={{ .url }}&sz=16" class="inline-block" alt="">
            {{ .property }}
          </a>
        </li>
        {{ end }}
      </ul>
      </li>
  {{ end }}
  </ul> {{ partial "backlinks.html" . }}
</article>
{{ end }}
