{{ define "main" }} {{ partial "back_link.html" .}} {{ $cameraroll := where
.Site.RegularPages ".Params.photo" "!=" nil }}

<section class="">
  <ul class="grid grid-cols-7 gap-x-3 my-3">
    {{ range $cameraroll }}
    <li class="mb-3">
      <a href="{{ .Permalink }}">
        <img
          src="{{ .Params.photo }}"
          alt="Photo for {{ .Title }}"
          class="aspect-square object-cover border"
        />
      </a>
    </li>
    {{ end }}
  </ul>
</section>

<!-- <section class="mt-16">
  <ul class="">
    {{ range $cameraroll }}
    <li class="mb-20 block">
      <p class="mb-5">
        <a href="{{ .Permalink }}">
          <time
            class="dt-published text-sm text-secondary"
            data-published="{{ .Date }}"
            >{{ .Date | time.Format
            site.Params.theme_config.date_format_date_time }}
          </time>
        </a>
      </p>

      <div class="-mx-8 mb-5">
        <img
        src="{{ .Params.photo }}"
        alt="Photo for {{ .Title }}"
        class=""
      />
      </div>

      <div class="prose prose-slate dark:prose-invert">{{ .Content }}</div>
      <div class="mt-5">{{ partial "tags.html" .}}</div>
    </li>
    {{ end }}
  </ul>
</section> -->

{{ end }}
