{{ define "main" }} {{ partial "back_link.html" .}} {{ $cameraroll := where
.Site.RegularPages ".Params.photo" "!=" nil }}

<header class="mb-10 md:mb-20">
  <p class="text-secondary text-sm mb-5">{{ .Title }}</p>
  <h2 class="text-2xl mb-5">{{ .Description }}</h2>
</header>

<section class="mt-16">
  <ul class="">
    {{ range $cameraroll }}
    <li class="mb-20">
      <p class="mb-5">
        <a href="{{ .Permalink }}">
          <time
            class="dt-published text-sm text-secondary"
            data-published="{{ .Date }}"
            >{{ .Date | time.Format
            site.Params.theme_config.date_format_date_time }}
          </time>
        </a>
      </p>

      <img
        src="{{ .Params.photo }}"
        alt="Photo for {{ .Title }}"
        class="mb-5"
      />

      <div class="prose prose-gray dark:prose-invert">{{ .Content }}</div>
      <div class="mt-5">{{ partial "tags.html" .}}</div>
    </li>
    {{ end }}
  </ul>
</section>

{{ end }}
