{{ define "main" }} {{ partial "back_link.html" .}}

<article class="h-entry">
  <header class="">
    <p class="text-secondary mb-0 text-sm">{{ .Title }}</p>
    <h2 class="p-name mt-5 mb-4 text-2xl">{{ .Description }}</h2>
  </header>

  <!-- {{ if .Params.toc }}
  <aside {{ if .Params.tocBorder }} class="toc" {{ end }}>
    {{ .TableOfContents }}
  </aside>
  {{ end }} -->

  <div class="e-content prose prose-gray dark:prose-invert relative">
    {{ if .Params.sidenote }}
    <div class="aside">{{ .Params.sidenote | markdownify }}</div>
    {{ end }} {{ .Content }}
  </div>

  {{ partial "backlinks.html" . }}
</article>
{{ end }}
