{{ define "main" }} {{ partial "back_link.html" .}}

<section class="">
  <header class="mb-10 md:mb-20">
    <p class="text-secondary font-medium uppercase text-xs mb-5">
      {{ .Title }}
    </p>
    <h2 class="text-2xl mb-5">{{ .Description }}</h2>
  </header>

  <ul class="grid grid-cols-2 md:grid-cols-3 gap-4 text-xs p-0 m-0">
    {{range $name, $taxonomy := .Site.Taxonomies.tags}} {{ $cnt := .Count }} {{
    with $.Site.GetPage (printf "/tags/%s" $name) }} {{ if .Params.kind}}
    <li>
      <a href="{{ .RelPermalink }}">
        <img
          class="h-auto max-w-full rounded"
          src="{{ .Params.cover }}"
          alt=""
        />
        <span class="block">{{ .Title }}</span>
      </a>
    </li>
    {{end}} {{end}} {{end}}
  </ul>
</section>
{{ end }}
