{{ define "main" }} {{ partial "back_link.html" .}}

<header class="prose prose-gray dark:prose-invert container">
  <p class="text-secondary mb-0 text-sm">Library</p>
  <h2 class="p-name mb-2 mt-0 text-2xl">An overview of things I have read, watched, listened to, or attended</h2>
</header>

<section class="mt-20 max-w-screen-xl mx-auto px-5">
  <ul class="grid grid-cols-2 gap-4 md:grid-cols-4 md:grid-cols-6">
    {{ range $.Site.Data.library.written }}
    {{ range sort .children "entry" "asc" }}
    <li class=" ">
      <div class="mb-2"><img src="{{ .cover }}" class="object-cover h-72 w-52" alt=""></div>
      <div>{{ .title }}</div>
      <!-- <div>{{ .author }}</div>
      <div>{{ .id }}</div>
      <div>{{ .year }}</div>
      <div>{{ .date }}</div>
      <div>{{ .rating }}</div> 
      <div>{{ if .review }}
        <ul>
          {{ range .review }} 
            <li>{{ . }}</li>
          {{ end }}
        </ul>
        {{ end}}
      </div> -->
    </li>
    {{ end }}
    {{ end }}
  </ul>

</section>

 


{{ end }}

