{{ define "main" }} {{ partial "back_link.html" .}}



<header class="prose prose-gray dark:prose-invert">
  <p class="text-secondary mb-0 text-sm">{{ .Title }}</p>
  <h2 class="p-name mb-2 mt-0 text-2xl">{{ .Description }}</h2>
</header>

<section class="mt-20">
  <ul class="">
    {{ range $.Site.Data.library }}
    <li class="mt-10 block">
      <h3 class="mb-5">{{ .medium }}</h3>
      <ul class="">
        {{ range .children }}
        <li class="">
          <a href="{{ .url }}" target="_blank" rel="noopener noreferrer">
            {{ .entry }} ({{.published}})

            {{ if .review }}

              {{ range .review }}
                {{.}}


            {{ end }}
            {{ end }}
          </a>
        </li>
        {{ end }}
      </ul>
      </li>
  {{ end }}
  </ul>
</section>

{{ end }}
