{{ define "main" }} {{ partial "back_link.html" .}}

<article class="h-entry relative">
  <header class="prose prose-gray dark:prose-invert">
    <p class="text-secondary mb-0 text-sm">{{ .Title }}</p>
    <h2 class="p-name mb-2 mt-0 text-2xl">{{ .Description }}</h2>
  </header>

  <div id="about" class="e-content prose prose-gray mt-20 dark:prose-invert">
    {{ if .Params.sidenote }}
    <div class="aside">{{ .Params.sidenote | markdownify }}</div>
    {{ end }} {{ .Content }}
  </div>

  <section class="mt-10">
    <div class="justify-center lg:flex lg:gap-6">
      <div class="mx-auto w-1/3">
        <div class="rounded-md border px-3 py-5 text-center">
          <img
            src="/img/avatar.png"
            alt=""
            class="mx-auto h-16 w-16 rounded-full"
          />
          <h4 class="my-2 text-lg font-medium">Zinzy</h4>
          <p class="text-secondary text-xs">Senior Product Designer</p>
        </div>
      </div>
      <div
        class="prose prose-gray grid content-center dark:prose-invert lg:w-2/3"
      >
        <h3 class="mb-2 mt-0 text-xl font-medium">My role</h3>
        <p class="m-0 p-0">
          I am a Product Designer, though some coworkers may call me a UX
          Designer, or Interface Designer. The latter isn’t my preferred job
          title, because it only covers part of what I do:
        </p>
      </div>
    </div>
  </section>

  <section class="mt-10">
    <p class="text-xl font-semibold text-pink-500 dark:text-pink-300">
      I solve user problems through applied research, facilitation, and
      multidisciplinary design to help our company reach its objectives.
    </p>
  </section>

  <section class="mt-10">
    <div class="lg:flex lg:gap-6">
      <div
        class="prose prose-gray grid content-center dark:prose-invert lg:w-3/5"
      >
        <div>
          <h3 class="mb-2 mt-0 text-xl font-medium">Working hours</h3>
          <p class="m-0 p-0">
            You'll usually find me online between these working hours. I don't
            put in 11 hours of work each day, but instead adjust my hours and
            location to my needs and objectives.
          </p>
        </div>
      </div>
      <div class="mt-5 lg:mt-0 lg:w-2/5">
        <ul
          class="m-0 divide-y rounded border p-0 text-xs dark:divide-zinc-700"
        >
          {{ range $.Site.Data.manual.hours }}
          <li class="">
            <span class="flex justify-between p-2">
              <span class="font-medium text-gray-950 dark:text-white"
                >{{ .day }}</span
              >
              <span class="font-mono text-gray-500 dark:text-gray-400"
                >{{ .time }}</span
              >
            </span>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </section>

  <section class="prose prose-gray mt-10 dark:prose-invert">
    <h3 class="mb-2 mt-0 text-xl font-medium">
      My day is structured around first unblocking development teams, so that
      what remains is space for deep work.
    </h3>
    <p>
      As a team-of-one I don't have stand-ups, which is great, because I like to
      get an early start. The first order of business each morning is pushing
      product feature requests forward. The further down the pipeline they are,
      the more urgent I consider them to be.
    </p>
    <p>
      As a designer, my priority is to work in a way that doesn't impact the
      speed of development. This work usually takes me up to three hours, which
      means I can reserve the rest of the day for research, deep work, and
      meetings.
    </p>

    <div
      class="mb-14 flex rounded bg-pink-50 p-3 text-xs text-pink-700 dark:bg-zinc-700 dark:text-white"
    >
      <span class="mr-2 inline-block content-center md:leading-9"
        >{{- partial "symbols/alert.html" . -}}</span
      >
      <span class="inline-block"
        ><span class="font-medium">Good to know:</span> as a rule, I don't do
        lunch meetings</span
      >
    </div>
  </section>

  <section class="mt-10">
    <h3 class="mb-2 mt-0 text-xl font-medium">I'm at my best when:</h3>
    <ul class="my-5 grid grid-cols-3 gap-4 text-sm">
      {{ range $.Site.Data.manual.conditions }}
      <li
        class="place-content-center rounded bg-pink-50 p-3 text-center dark:bg-zinc-700 dark:text-white"
      >
        <span class="block font-medium">{{ .header }}</span>
        <span class="text-secondary block text-xs">{{ .content }}</span>
      </li>
      {{ end }}
    </ul>
    <p class="text-secondary text-xs leading-relaxed">
      Easy ways to lose my trust: structurely fostering negativity, lack of
      introspection, not empowering your coworkers, not offering feedback beyond
      passive aggression, not sharing knowledge, not learning from feedback.
    </p>
  </section>

  <section class="mt-10">
    <h3 class="mb-2 mt-0 text-xl font-medium">
      My preferred communications channels
    </h3>
    <div class="prose prose-gray dark:prose-invert">
      <ul class="my-5">
        {{ range $.Site.Data.manual.communication }}
        <li class="">
          <span class="font-medium">{{ .channel | markdownify }}:</span>
          <span class="">{{ .description | markdownify }}</span>
        </li>
        {{ end }}
      </ul>
    </div>
  </section>

  <section class="prose prose-gray mt-10 dark:prose-invert">
    <h3 class="mb-2 mt-0 text-xl font-medium">Me at your meeting</h3>
    <p>If you've ever met me, you may know I:</p>
    <ul>
      <li>
        Tell it like I see it: I challenge directly and care personally, praise
        publicly and criticize privately
      </li>
      <li>Like to crack a joke every now and then</li>
      <li>Talk fast (imagine the world at 0.6x speed)</li>
      <li>Tune out if all I can do during a meeting is listen</li>
      <li>
        Leave meetings if I feel like I'm not learning and/or not contributing
      </li>
    </ul>
    <ul class="mt-5 grid list-none gap-4 text-sm md:grid-cols-2">
      <li
        class="place-content-center rounded bg-pink-50 p-3 text-center dark:bg-zinc-700 dark:text-white"
      >
        <span class="block font-medium">One-on-one meetings</span>
        <span class="text-secondary block text-xs"
          >If it's just you and me, I reserve 30 minutes for an in-person or
          remote conversation. Let's make magic!</span
        >
      </li>
      <li
        class="place-content-center rounded bg-pink-50 p-3 text-center dark:bg-zinc-700 dark:text-white"
      >
        <span class="block font-medium">Group meetings</span>
        <span class="text-secondary block text-xs"
          >I love group meetings that last no longer than an hour, and that stop
          once the agenda has been fulfilled.</span
        >
      </li>
    </ul>
  </section>

  {{ partial "backlinks.html" . }}
</article>
{{ end }}
