{{ define "main" }} {{ partial "back_link.html" .}}

<article class="h-entry">
  <header class="prose prose-gray dark:prose-invert">
    <p class="text-secondary mb-0 text-sm">{{ .Title }}</p>
    <h2 class="p-name mb-2 mt-0 text-2xl">{{ .Description }}</h2>
  </header>

  <div
    class="rounded bg-gray-50 p-3 text-xs leading-relaxed text-gray-600 dark:bg-zinc-700 dark:text-zinc-300"
  >
    This
    <a
      href="https://nownownow.com/about"
      target="_blank"
      rel="noopener noreferrer"
      class="font-medium text-gray-950 dark:text-white"
      >Now page</a
    >
    was last updated on {{ .Date | time.Format
    site.Params.theme_config.date_format_full }}. It sits in the long Internet
    tradition of outlining what I would tell a friend I hadn't seen in a year or
    two. If you'd like to learn more about this tradition, I advise you to read
    <a
      href="https://sive.rs/nowff"
      target="_blank"
      rel="noopener noreferrer"
      class="font-medium text-gray-950 dark:text-white"
      >this article by Derek Sivers</a
    >, the inventor of the Now page.
  </div>

  <div
    id="about"
    class="e-content prose prose-gray mt-20 dark:prose-invert"
  >
    {{ .Content }}
  </div>

  {{ partial "backlinks.html" . }} 
</article>
{{ end }}
