{{ define "main" }} {{ partial "back_link.html" .}}

<article class="h-entry">
  <header class="prose prose-slate dark:prose-invert">
    <p class="text-secondary mb-0 text-sm">{{ .Title }}</p>
    <h2 class="p-name my-2 text-2xl">{{ .Description }}</h2>
    <p>
      zinzy.website has been published (ir)regularly since 2004 under a wide
      variety of names. It contains some {{ len .Site.Pages }} entries and
      pages. I'm currently in the process of updating its archive, and hope to
      bring back the majority of what I've published on the Internet through the
      years.
    </p>
  </header>

  <section class="mt-10">
    <h3 class="text-xl font-medium">What I write</h3>
    <ul class="mt-5">
      <li class="group m-0 mb-3 mr-3 inline-block p-0">
        <a
          href="/shorts"
          class="flex rounded-full border px-3 leading-7 text-xs font-medium no-underline transition-all hover:border-transparent hover:bg-pink-50 group-hover:text-pink-500 dark:hover:border-transparent dark:hover:bg-pink-300/10 dark:group-hover:text-pink-300"
          >Shorts
        </a>
      </li>
      {{range sort ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
      <li class="group m-0 mb-3 mr-3 inline-block p-0">
        <a
          href="{{.Permalink}}"
          class="flex rounded-full border px-3 leading-7 text-xs font-medium no-underline transition-all hover:border-transparent hover:bg-pink-50 group-hover:text-pink-500 dark:hover:border-transparent dark:hover:bg-pink-300/10 dark:group-hover:text-pink-300"
          >{{.Title}}
        </a>
      </li>
      {{end}}
    </ul>
  </section>
  <section class="mt-10">
    <h3 class="text-xl font-medium">A full archive</h3>

    <!-- <ul class="archives-list border">
      {{ range $name, $taxonomy := .Site.Taxonomies.month }} {{- $cnt := .Count -}}
        {{- with $.Site.GetPage (printf "%s" $name) -}}
              <li><a href="{{ .RelPermalink }}" title="All posts from {{ .Title }}">{{ .Title }}</a> ({{$cnt}})</li>
        {{ end }}
      {{- end -}}
    </ul>


    <div class="inner">
      {{ range (.Site.RegularPages.GroupByDate "2006") }}
          <h3><a href="/{{ .Key }}">{{ .Key }}</a></h3>

          <ul class="archive-list">
              {{ range (where .Pages "Type" "post") }}
                  <li>
                      {{ .PublishDate.Format "02 Jan" }}
                      - 
                      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                  </li>
              {{ end }}
          </ul>
      {{ end }}
  </div> -->

    <ul class="font-mono text-sm mt-5">
      {{ range $value := .Site.Pages.GroupByDate "2006" }} {{ $url := (index
      $value.Pages 0).Date.Format "2006" | urlize }}
      <li class="flex">
        <a href="/{{ $url }}" class="text-secondary">{{ .Key }}</a>
        <span class="mx-3 text-neutral-300 dark:text-zinc-600">/</span>

        <ul class="grid grid-cols-12 gap-1 grow">
          {{ range $value.GroupByDate "01" "$value" "asc" }} {{ $url := (index
          $value.Pages 0).Date.Format "01" | urlize }}
          <li><a href="/{{ $url }}" class="text-secondary">{{ .Key }}</a></li>
          {{ end }}
        </ul>
      </li>
      {{ end }}
    </ul>
  </section>

  <section class="mt-10">
    <h3 class="text-xl font-medium">Also on this website</h3>

    {{ $pages := where .Site.RegularPages "Type" "page" }}

    <ul class="mt-5">
      {{ range $pages }}
      <li class="border-t py-3">
        <a class="w-full" href="{{ .Permalink }}">
          <span class="font-medium">{{ .Title }}</span>
          <span class="text-secondary text-sm">{{ .Description }}</span>
        </a>
      </li>
      {{ end }}
    </ul>
  </section>

  <!-- <section class="mt-10">
    <h3 class="text-xl font-medium">What I consume</h3>
    <ul class="mt-5">
      <li class="group m-0 mb-3 mr-3 inline-block p-0">
        <a
          href="/shorts"
          class="flex rounded-full border px-3 leading-7 text-xs font-medium no-underline transition-all hover:border-transparent hover:bg-pink-50 group-hover:text-pink-500 dark:hover:border-transparent dark:hover:bg-pink-300/10 dark:group-hover:text-pink-300"
          >Shorts
        </a>
      </li>
      {{range sort ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
      <li class="group m-0 mb-3 mr-3 inline-block p-0">
        <a
          href="{{.Permalink}}"
          class="flex rounded-full border px-3 leading-7 text-xs font-medium no-underline transition-all hover:border-transparent hover:bg-pink-50 group-hover:text-pink-500 dark:hover:border-transparent dark:hover:bg-pink-300/10 dark:group-hover:text-pink-300"
          >{{.Title}}
        </a>
      </li>
      {{end}}
    </ul>
  </section> -->

  <section class="mt-10">
    <h3 class="text-xl font-medium">Topics</h3>
    <div>
      <!-- Retrieved this snippet from https://discourse.gohugo.io/t/tag-cloud/6335 -->
      {{ $tags := $.Site.Taxonomies.tags.ByCount }} {{ $v1 := where $tags
      "Count" ">=" 3 }} {{ $v2 := where $v1 "Term" "not in" (slice "hugo" "tags"
      "rss") }}
      <ul class="mt-5">
        {{ range $v2 }} {{ if .Term }} {{ $tagURL := printf "tags/%s" .Term |
        relURL }}
        <li class="group m-0 mb-3 mr-3 inline-block p-0">
          <a
            href="{{ $tagURL }}"
            class="flex rounded-full border px-3 leading-7 text-xs font-medium leading-8 no-underline transition-all bg-white hover:border-transparent hover:bg-pink-50 group-hover:text-pink-500 dark:hover:border-transparent dark:hover:bg-pink-300/10 dark:group-hover:text-pink-300"
            >{{ .Term }}
            <span class="text-secondary ml-2 inline-block"
              >{{ .Count }}</span
            ></a
          >
        </li>
        {{ end }} {{ end }}
      </ul>
    </div>
  </section>

  <form
    id="search"
    method="get"
    action="https://duckduckgo.com/"
    class="flex text-sm"
  >
    <label class="grow">
      <input
        type="search"
        name="q"
        placeholder="Why's Zinzy so happy?"
        class="rounded-tl rounded-bl bg-zinc-100 w-full p-2 focus:outline-none"
      />
    </label>
    <input type="hidden" name="sites" value="zinzy.website" />
    <input
      type="submit"
      value="→"
      class="bg-zinc-100 w-10 rounded-tr rounded-br text-secondary"
    />
  </form>

  <p>
    If you prefer an aimless wander, or a scavenger hunt, If you want to surf
    aimlessly around, pick any of the taxonomies below and enjoy.
  </p>

  {{ partial "backlinks.html" . }}
</article>
{{ end }}
