{{ define "main" }} {{ partial "back_link.html" .}}

<article class="h-entry relative">
  <header class="">
    <h2 class="p-name">{{ .Title }}</h2>
  </header>

  <section class="prose dark:prose-invert">{{ .Content }}</section>

  <section class="my-20">
    <figure>
      <img
        src="/img/bijlmer-bookclub-july-2024.jpg"
        alt="A Black hand holding a book titled 'None of the Above' in front of an Amsterdam Bijlmer lake"
      />
      <figcaption>Books are for reading</figcaption>
    </figure>

    <ul class="tags my-10">
      <li><a href="">Tag</a></li>
    </ul>

    <a href="" class="button">Button</a>
  </section>

  {{ partial "backlinks.html" . }}
</article>
{{ end }}
