{{ define "main" }} {{ partial "back_link.html" .}}

<article class="">
  <header class="h-entry prose prose-gray dark:prose-invert">
    <p class="text-secondary mb-0 text-sm">{{ .Title }}</p>
    <h2 class="p-name mb-2 mt-0 text-2xl">{{ .Description }}</h2>
  </header>

  <section class="mt-20">
    <p class="text-secondary mb-0 text-sm">What to explore</p>

    <ul class="m-0 mt-5 grid list-none grid-cols-3 gap-4 p-0">
      <li class="m-0 inline-block p-0">
        <a
          class="flex cursor-not-allowed rounded border px-2 text-xs no-underline opacity-55"
        >
          <span class="mr-2 inline-block content-center leading-9"
            >{{- partial "symbols/design.html" . -}}</span
          >
          <span class="inline-block font-medium leading-9">Design</span>
        </a>
      </li>
      <li class="m-0 inline-block p-0">
        <a
          href="/mentoring"
          class="flex rounded border px-2 text-xs no-underline transition-all hover:bg-gray-50 hover:dark:bg-zinc-700"
        >
          <span class="mr-2 inline-block content-center leading-9"
            >{{- partial "symbols/mentoring.html" . -}}</span
          >
          <span class="inline-block font-medium leading-9">Mentoring</span>
        </a>
      </li>
      <li class="m-0 inline-block p-0">
        <a
          href="/community"
          class="flex rounded border px-2 text-xs no-underline transition-all hover:bg-gray-50 hover:dark:bg-zinc-700"
        >
          <span class="mr-2 inline-block content-center leading-9"
            >{{- partial "symbols/community.html" . -}}</span
          >
          <span class="inline-block font-medium leading-9">Communitiy</span>
        </a>
      </li>
    </ul>
  </section>

  <div
    id="about"
    class="e-content h-entry prose prose-gray py-20 dark:prose-invert"
  >
    {{ .Content }}
  </div>

  {{ partial "backlinks.html" . }} {{- partial "thanks.html" . -}}
</article>
{{ end }}
