{{ define "main" }} {{ partial "back_link.html" .}}

<article class="h-entry">
  <header class="prose prose-gray dark:prose-invert">
    <p class="text-secondary mb-0 text-sm">{{ .Title }}</p>
    <h2 class="p-name mb-2 mt-0 text-2xl">{{ .Description }}</h2>
  </header>

  <section class="mt-20">
    <p class="text-secondary mb-0 text-sm">What to explore</p>

    <ul class="m-0 mt-5 grid list-none grid-cols-2 gap-4 p-0 lg:grid-cols-3">
      <li class="m-0 inline-block p-0">
        <a
          class="flex cursor-not-allowed rounded border px-2 text-xs no-underline opacity-55"
        >
          <span class="mr-2 inline-block content-center leading-9"
            >{{- partial "symbols/design.html" . -}}</span
          >
          <span
            class="inline-block font-medium leading-9 group-hover:text-pink-500 dark:group-hover:text-pink-300"
            >Design</span
          >
        </a>
      </li>
      <li class="group m-0 inline-block p-0">
        <a
          href="/mentoring"
          class="flex rounded border px-2 text-xs no-underline transition-all hover:border-transparent hover:bg-pink-50 dark:hover:border-transparent dark:hover:bg-pink-300/10"
        >
          <span
            class="mr-2 inline-block content-center leading-9 transition-all group-hover:rotate-6"
            >{{- partial "symbols/mentoring.html" . -}}</span
          >
          <span
            class="inline-block font-medium leading-9 group-hover:text-pink-500 dark:group-hover:text-pink-300"
            >Mentoring</span
          >
        </a>
      </li>
      <li class="group m-0 inline-block p-0">
        <a
          href="/community"
          class="flex rounded border px-2 text-xs no-underline transition-all hover:border-transparent hover:bg-pink-50 dark:hover:border-transparent dark:hover:bg-pink-300/10"
        >
          <span
            class="mr-2 inline-block content-center leading-9 transition-all group-hover:rotate-6"
            >{{- partial "symbols/community.html" . -}}</span
          >
          <span
            class="inline-block font-medium leading-9 group-hover:text-pink-500 dark:group-hover:text-pink-300"
            >Community</span
          >
        </a>
      </li>
    </ul>
  </section>

  <div
    id="about"
    class="e-content prose prose-gray mt-20 dark:prose-invert"
  >
    {{ .Content }}
  </div>

  {{ partial "backlinks.html" . }} 
</article>
{{ end }}
