{{ define "main" }}

{{- partial "back_link.html" . -}}

<article class="prose prose-gray dark:prose-invert mb-14">
    <header class="my-12">
        <h2 class="p-name mb-6">Well, well, how the turn tables...</h2>
        <p>I'm sorry that something has led you to this 404 page. What you were hoping to find does not exist (anymore). Please head back to the <a href="/">front page</a> to continue your journey.</p>
    </header>

    {{ if .Params.toc }}
        <aside {{ if .Params.tocBorder }} class="toc" {{ end }}>
            {{ .TableOfContents }}
        </aside>
    {{ end }}

    <div class="e-content">
        {{ .Content }}
    </div>

    {{ partial "backlinks.html" . }}
</article>
{{ end }}