{{ define "main" }}

<section class="prose dark:prose-invert">
  <p>
    Hello, <a href="/about">I'm Zinzy Waleson Geene</a>, a researcher, designer,
    writer, and mentor making tools for people at work. This is a personal
    website; a space for soft stances, lived experiences, and critical notes on
    the things I hold dear.
  </p>
  <p>This is a standing invitation to <a href="/hello">say hello</a>.</p>
</section>

<section class="mt-20">
  {{ $postsDefault := where .Site.RegularPages "Type" "posts" }}

  <ul class="mt-14">
    {{ range first 5 $postsDefault }}
    <li class="-mx-3">
      <a class="block rounded p-3 hover:bg-gray-50" href="{{ .Permalink }}">
        <span class="block">{{ .Title }}</span>
        <time class="text-secondary text-sm"
          >{{- (.Date | time.Format
          site.Params.theme_config.date_format_archive) }}</time
        >
      </a>
    </li>
    {{ end }}
  </ul>
</section>

<section class="mt-20">
  <ul class="">
    <li class="-mx-3">
      <a href="/posts" class="block rounded p-3 hover:bg-gray-50">
        <div>Posts</div>
        <div class="text-secondary text-sm">
          Essays, musings, and reflections
        </div>
      </a>
    </li>
    <li class="-mx-3">
      <a href="/updates" class="block rounded p-3 hover:bg-gray-50">
        <div>Updates</div>
        <div class="text-secondary text-sm">
          Fleeting thoughts, snapshots, and opinions
        </div>
      </a>
    </li>
    <li class="-mx-3">
      <a href="/now" class="block rounded p-3 hover:bg-gray-50">
        <div>Now</div>
        <div class="text-secondary text-sm">
          What I'd tell a friend I hadn't seen in a year
        </div>
      </a>
    </li>
    <li class="-mx-3">
      <a href="/work" class="block rounded p-3 hover:bg-gray-50">
        <div>Work</div>
        <div class="text-secondary text-sm">
          What I do for money, and how I do it
        </div>
      </a>
    </li>
    <li class="-mx-3">
      <a href="/omake" class="block rounded p-3 hover:bg-gray-50">
        <div>Omake</div>
        <div class="text-secondary text-sm">An overview of extra content</div>
      </a>
    </li>
    <li class="-mx-3">
      <a href="/site" class="block rounded p-3 hover:bg-gray-50">
        <div>Site</div>
        <div class="text-secondary text-sm">
          Notes on design and development
        </div>
      </a>
    </li>
  </ul>
</section>

<!-- 
<section class="mt-12">
  <ul class="h-card">
    <li class="flex hidden border-b py-2 last:border-b-0">
      <span class="w-40 flex-none text-gray-500 dark:text-white/50"
        >Headshot</span
      >
      <span class="grow">
        <img
          class="u-photo"
          src="https://res.cloudinary.com/dbi2zounq/image/upload/w_200/v1667744670/me/zinzy-1_telofx.jpg"
        />
      </span>
    </li>
    <li class="flex hidden border-b py-2 last:border-b-0">
      <span class="w-40 flex-none text-gray-500 dark:text-white/50"
        >Ethnicity</span
      >
      <span class="grow">{{.Site.Params.author.ethnicity}}</span>
    </li>
    <li class="flex hidden border-b py-2 last:border-b-0">
      <span class="w-40 flex-none text-gray-500 dark:text-white/50"
        >Gender</span
      >
      <span class="grow"
        ><span class="p-gender-identity"
          >{{.Site.Params.author.genderIdentity}}</span
        >
      </span>
    </li>
    <li class="border-b py-2 last:border-b-0 md:flex">
      <span
        class="block w-40 text-gray-500 md:block md:flex-none dark:text-white/50"
        >Name</span
      >
      <span class="grow">
        <a class="u-url u-uid" href="{{.Site.Params.baseURL}}">
          <span class="p-name">
            <span class="p-given-name">{{.Site.Params.author.givenName}}</span>
            <span class="p-family-name"
              >{{.Site.Params.author.familyName}}</span
            ></span
          >
        </a>
      </span>
    </li>
    <li class="border-b py-2 last:border-b-0 md:flex">
      <span class="block w-40 text-gray-500 md:flex-none dark:text-white/50"
        >Location</span
      >
      <span class="grow"
        ><span class="p-locality">{{.Site.Params.author.locality}}</span>,
        <span class="p-country-name">{{.Site.Params.author.country}}</span>
      </span>
    </li>
    <li class="border-b py-2 last:border-b-0 md:flex">
      <span class="block w-40 text-gray-500 md:flex-none dark:text-white/50"
        >Fam</span
      >
      <span class="grow"
        ><a
          href="https://anjawaleson.notion.site/Anja-Waleson-0182c8df804b4b12ab6e70b5b5795a55"
          target="_blank"
          rel="noopener noreferrer"
          >Anja</a
        >
        +
        <a
          href="https://lemonade.waleson.us/"
          target="_blank"
          rel="noopener noreferrer"
          >Lemonade</a
        ></span
      >
    </li>
    <li class="border-b py-2 last:border-b-0 md:flex">
      <span class="block w-40 text-gray-500 md:flex-none dark:text-white/50"
        >Profession</span
      >
      <span class="grow">
        <span class="block"
          ><a href="/work"
            ><span class="p-category">{{.Site.Params.author.jobTitle}}</span></a
          >
          at <span class="p-org">{{.Site.Params.author.org}}</span></span
        >
        <span class="block"><a href="/mentoring">Design mentor</a></span>
      </span>
    </li>
    <li class="border-b py-2 last:border-b-0 md:flex">
      <span class="block w-40 text-gray-500 md:flex-none dark:text-white/50"
        >Weekends</span
      >
      <span class="grow"><a href="/im-a-christian">Crazy church lady</a></span>
    </li>
    <li class="border-b py-2 last:border-b-0 md:flex">
      <span class="block w-40 text-gray-500 md:flex-none dark:text-white/50"
        >Interests</span
      >
      <span class="grow"
        >Making music, pickling, languages,
        <a href="/im-a-christian">progressive theology</a>, embroidery, chaotic
        passion, instant photography, IndieWeb, gardening,
        <a href="/im-neurodivergent">neurodivergence and wellbeing</a>,
        questions</span
      >
    </li>
    <li class="border-b py-2 last:border-b-0 md:flex">
      <span class="block w-40 text-gray-500 md:flex-none dark:text-white/50"
        >Bottom line</span
      >
      <span class="grow"
        ><a href="/the-rest-is-commentary">The rest is commentary</a></span
      >
    </li>
    <li class="border-b py-2 last:border-b-0 md:flex">
      <span
        class="mb-2 block w-40 text-gray-500 md:flex-none dark:text-white/50"
        >Recently</span
      >
      <span class="grow">
        {{ $postsDefault := where .Site.RegularPages "Type" "posts" }}
        <ul class=" ">
          {{ range first 3 $postsDefault }}
          <li class="border-b py-2 first:pt-0 last:border-b-0 md:flex">
            <a class="block md:grow" href="{{ .Permalink }}">{{ .Title }}</a>

            <time
              class="text-gray-500 md:block md:flex-none dark:text-white dark:text-opacity-50"
              >{{- (.Date | time.Format
              site.Params.theme_config.date_format_archive) }}</time
            >
          </li>
          {{ end }}
          <li class="pt-2 md:flex md:justify-end">
            <a href="/posts" class="text-gray-500 dark:text-white/50"
              >Archive →</a
            >
          </li>
        </ul>
      </span>
    </li>
  </ul>
</section> -->

<!-- 
{{ $wiki := where .Site.RegularPages "Type" "wiki" }}
<ul>
    {{ range  $wiki }}
    <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
{{ end }} 
</ul> -->

{{ end }}
