{{ define "main" }}

<header class="font-mono mb-28">
    <h1>{{ $.Site.Title }}</h1>
    <p>—</p>
    <p>A digital living room</p>
    <p>Last published on {{ now.Format "02 January 2006"}}</p>
</header> 

<p>Hello, I'm Zinzy Waleson Geene, and this is my personal website. It's a space for soft stances, lived experiences, and critical notes on the things I hold dear.</p>

 

<ul class="my-14">
    <h3 class=" mb-4">Table of contents</h3>

    <li class="flex items-center">
        <a href="/posts"  class="flex-none py-1">
            Posts
        </a>
        <span class="mx-3 mt-1 grow w-full border-t border-gray-300 dark:border-zinc-700 shrink">
        </span>
        <span class="flex-none font-mono">
            Things I've written
        </span>
    </li>
    {{ range ( where site.RegularPages "Section" "page"  ) }}
        <li class="flex items-center">
            <a href="{{ .Permalink }}"  class="flex-none py-1">
                {{ .Title }}
            </a>
            <span class="mx-3 mt-1 grow w-full border-t border-gray-300 dark:border-zinc-700 shrink">
            </span>
            <span class="flex-none font-mono">
                {{ .Description }}
            </span>
        </li>
    {{ end }}
</ul>




<!-- {{ partial "menu_item.html" (dict "context" . "collection" $.Site.Data.menu.entries) }}-->

{{ end }}  