<header class="flex content-center">
  <div class="flex-none">
    <a href="/" class=" "
      ><img
        src="/img/avatar.png"
        class="w-8 rounded-full opacity-20 hover:opacity-100 dark:bright-ness-50 brightness-0 hover:brightness-100 transition ease-in-out delay-50 hover:-translate-y-1 hover:scale-150"
        alt=""
    /></a>
  </div>
  <div class="grow text-end leading-8">
    <nav>
      <ul>
        <li class="inline-block mr-3"><a href="/about">About</a></li>
        <li class="inline-block mr-3"><a href="/now">Now</a></li>
        <li class="inline-block"><a href="/follow">Follow</a></li>
      </ul>
    </nav>
  </div>
</header>
