<header class="">
  <div class="flex">
    <div class="flex-none w-16">
      <a href="/"
        ><img
          src="/img/avatar.png"
          alt="Profile picture of a person smiling at the camera"
          class="rounded"
      /></a>
    </div>
    <div class="pl-5 grow place-content-center">
      <h1 class="text-base font-medium mb-2">
        <a href="/">Zinzy's website</a>
      </h1>
      <nav>
        <ul class="space-x-4">
          <li class="inline-block"><a href="/start">Start</a></li>
          <li class="inline-block"><a href="/about">About</a></li>
          <li class="inline-block"><a href="/now">Now</a></li>
          <li class="inline-block"><a href="/hello">Hello</a></li>
          <li class="inline-block">
            <a href="/follow">Follow</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="border-t pt-5 mt-5 prose prose-gray dark:prose-invert">
    <p>
      Hey, I'm <a href="/about">Zinzy</a>, a diarist and designer from
      <a href="/amsterdam">Amsterdam</a> working in healthcare technology. This
      <a href="/colophon">website</a> is a home for soft stances, lived
      experiences, and critical notes on the things I hold dear. I've been
      yelling at Internet clouds since 1997.
    </p>
  </div>
</header>
