<footer class="not-prose mt-14 rounded border text-sm">
  <div class="p-4">
    <div class="">
      <h4 class="mb-3 text-lg font-medium">Thank you for being here</h4>
      <p class="text-secondary h-card mb-3">
        My name is
        <a class="u-url p-name text-primary font-medium" href="/">
          <span class="">
            <span class="p-given-name">Zinzy</span>
            <span class="p-family-name">Waleson Geene</span>
          </span></a
        >
        and I'm a <span class="p-category">Product Designer</span> from
        <span class="p-locality">Amsterdam</span>
        <span class="p-note">designing software for people at work</span> (<a
          href="/about"
          class="text-primary font-medium"
          >More about me</a
        >). This website is a place for soft stances, lived experiences, and
        critical notes on the things I hold dear. If you like what you see here,
        reach out to say so, or consider buying me coffee.
      </p>
    </div>
    <ul class="m-0 list-none p-0">
      <li class="group m-0 mr-3 inline-block p-0">
        <a
          href="/follow"
          class="group flex rounded border px-2 text-xs no-underline transition-all hover:border-transparent hover:bg-pink-50 dark:hover:border-transparent dark:hover:bg-pink-300/10"
        >
          <span
            class="mr-2 inline-block content-center leading-9 transition-all group-hover:rotate-6"
            >{{- partial "symbols/follow.html" . -}}</span
          >
          <span
            class="inline-block font-medium leading-9 group-hover:text-pink-500 dark:group-hover:text-pink-300"
            >Follow</span
          >
        </a>
      </li>
      <li class="group m-0 mr-3 inline-block p-0">
        <a
          href="/hello"
          class="group flex rounded border px-2 text-xs no-underline transition-all hover:border-transparent hover:bg-pink-50 dark:hover:border-transparent dark:hover:bg-pink-300/10"
        >
          <span
            class="mr-2 inline-block content-center leading-9 transition-all group-hover:rotate-6"
            >{{- partial "symbols/mail.html" . -}}</span
          >
          <span
            class="inline-block font-medium leading-9 group-hover:text-pink-500 dark:group-hover:text-pink-300"
            >Say hello</span
          >
        </a>
      </li>
      <li class="group m-0 mt-3 inline-block p-0 md:mt-0">
        <a
          href="https://ko-fi.com/zinzy"
          class="group flex rounded border px-2 text-xs transition-all hover:border-transparent hover:bg-pink-50 dark:hover:border-transparent dark:hover:bg-pink-300/10"
          target="_blank"
        >
          <span
            class="mr-2 inline-block content-center leading-9 transition-all group-hover:rotate-6"
            >{{- partial "symbols/coffee.html" . -}}</span
          >
          <span
            class="inline-block font-medium leading-9 group-hover:text-pink-500 dark:group-hover:text-pink-300"
            >Buy me coffee</span
          >
        </a>
      </li>
    </ul>
  </div>
</footer>
