<footer class="not-prose mt-14 rounded border text-sm">
  <div class="p-4">
    <div class="">
      <h4 class="mb-3">Thank you for being here</h4>
      <p class="text-secondary h-card mb-3">
        I'm
        <a class="u-url" href="/">
          <span class="p-name">
            <span class="p-given-name">Zinzy</span>
            <span class="p-family-name">Waleson Geene</span>
          </span> </a
        >, a <span class="p-category">Product Designer</span> from
        <span class="p-locality">Amsterdam</span>
        <span class="p-note">making software for people at work</span>. This
        website is a place for soft stances, lived experiences, and critical
        notes on the things I hold dear. If you like what you see here, reach
        out to say so, or consider buying me coffee.
      </p>
    </div>
    <ul class="m-0 list-none p-0">
      <li class="m-0 inline-block p-0">
        <a href="/hello" class="flex rounded border px-2 text-xs no-underline">
          <span class="mr-2 inline-block content-center leading-9"
            >{{- partial "symbols/mail.html" . -}}</span
          >
          <span class="inline-block font-medium leading-9">Say hello</span>
        </a>
      </li>
      <li class="m-0 ml-3 inline-block p-0">
        <a
          href="https://ko-fi.com/zinzy"
          class="flex rounded border px-2 text-xs"
          target="_blank"
        >
          <span class="mr-2 inline-block content-center leading-9"
            >{{- partial "symbols/coffee.html" . -}}</span
          >
          <span class="inline-block font-medium leading-9">Buy me coffee</span>
        </a>
      </li>
    </ul>
  </div>
</footer>
