<footer class="site-footer">
  <ul class="h-card hidden">
    <li class="p-name">
      <a class="u-url u-uid text-primary" href="/">
        <span>
          <span class="p-given-name">Zinzy</span>
          <span class="p-family-name">Waleson Geene</span>
        </span>
      </a>
    </li>
    <li class="u-photo">
      <img src="/img/avatar.jpg" alt="Portrait of Zinzy Waleson Geene" />
    </li>
    <li class="p-nickname">Zinzatron</li>
    <li class="p-org">Gerimedica</li>
    <li class="p-job-title">Principal Designer</li>
    <li class="p-role">Principal Designer of healthcare software</li>
    <li class="p-locality">Amsterdam</li>
    <li class="p-region">North Holland</li>
    <li class="p-country-name">The Netherlands</li>
    <li class="p-note">Advocate for the small, open, indie, cozy web</li>
    <li class="p-category">Designer</li>
    <li class="p-gender-identity">Non-binary</li>
    <li class="u-sound">ZIN-zee WHALE-son GHEE-n</li>
  </ul>

  <div>
    <ul>
      <li><a href="/#top">Top ↑</a></li>
      <li><a href="/follow">Follow</a></li>
    </ul>
  </div>
</footer>
