{{- $notes := "" -}}

{{- if .section -}}
    {{- $notes = (where site.RegularPages "section" "notes") -}}
{{- else -}}
    {{- if (eq .context.Kind "taxonomy") -}}
        {{- $notes = .context.RegularPages -}}
    {{- else -}}
        {{- if (eq .context.Kind "term") -}}
            {{- $notes = .context.Data.RegularPages -}}
	{{- else -}}
            {{- $notes = site.RegularPages }}
	{{- end -}}
    {{- end -}}
{{- end -}}

{{- $limit_exceeded:= "" -}}
{{- if (and .limit (gt (len $notes) .limit)) -}}
    {{- $limit_exceeded = true -}}
{{- else -}}
    {{- $limit_exceeded = false -}}
{{ end }}

{{- if (gt (len $notes) 0) }}
    {{- if .limit }}
        {{ $notes = (first .limit $notes ) }}
    {{ end }}
    <ul>
        {{- range $note := $notes -}}
        <li>
            <!-- <span>{{- ($note.Date | time.Format site.Params.theme_config.date_format) }}</span> -->
            <a href="{{ $note.Permalink | relURL }}">{{ $note.Title }}</a>
        </li>
        {{ end }}
        {{- if and .show_more $limit_exceeded }}
            <li><a href="{{ .show_more_url | relURL }}">{{ .show_more_text | default "Show more..." }}</a></li>
        {{ end }}
    </ul>
{{ end }}
