<footer>
  <div>
    <div>
      <h4>Thank you for being here</h4>
      <p class="h-card hidden">
        My name is
        <a class="u-url p-name text-primary" href="/">
          <span>
            <span class="p-given-name">Zinzy</span>
            <span class="p-family-name">Waleson Geene</span>
          </span></a
        >
        and I'm a happy human living and working in
        <span class="p-locality">Amsterdam</span>.
        <span
          >I'm a <span class="p-category">Product Designer</span>
          <span class="p-note">designing software for people at work</span
          >.</span
        >
        <a href="/about" class="text-primary">Learn more about me</a>. This
        website is a place for soft stances, lived experiences, and critical
        notes on the things I hold dear. If you like what you see here, reach
        out to say so, or consider buying me coffee.
      </p>
    </div>
    <ul>
      <li>
        <a href="/follow">
          <span>{{- partial "symbols/follow.html" . -}}</span>
          <span>Follow</span>
        </a>
      </li>
      <li>
        <a href="/hello">
          <span>{{- partial "symbols/mail.html" . -}}</span>
          <span>Say hello</span>
        </a>
      </li>
      <li>
        <a href="https://ko-fi.com/zinzy" target="_blank">
          <span>{{- partial "symbols/coffee.html" . -}}</span>
          <span>Buy me coffee</span>
        </a>
      </li>
    </ul>
  </div>
</footer>
