{{ define "main" }} {{- partial "back_link.html" . -}}

<div class="">
  <div>
    <img
      src="/img/404.gif"
      class="float-right ml-6 mb-3 w-28"
      alt="Gif of a Black boy looking embarrassed and scared"
    />
    <header class="prose dark:prose-invert mb-5">
      <h2 class="p-name">
        Sometimes I'll start a sentence, and I don't even...
      </h2>
      <p class="">
        I'm sorry that something has led you to this 404 page. What you were
        hoping to find does not exist (anymore). Please head back to the
        <a href="/">front page</a> to continue your journey.
      </p>
    </header>
  </div>
</div>
{{ end }}
