{{ define "main" }} {{ $posts := (where .Site.RegularPages "Type" "posts") }} {{
$sortedPosts := sort $posts "Date" "desc"}} {{ $paginatePosts := .Paginate
$sortedPosts 5 }}

<section class="intro">
  <p>{{ .Content }}</p>
</section>

<section>
  <h2>Recent posts <a href="/archive">(all)</a></h2>
  <ul class="posts">
    {{ range $paginatePosts.Pages }}
    <li class="">
      <a href="{{ .Params.externalLink | default .RelPermalink }}"
        >{{ .Params.title }}</a
      >
    </li>
    {{ end }}
  </ul>
</section>

{{ $nowPosts := where .Site.RegularPages "Type" "now" }} {{ if $nowPosts }}
<section>
  {{ range first 1 $nowPosts }}
  <h2>{{ .Title }}</h2>
  {{ .Content}} {{ end }}
</section>
{{ end }} {{ end }}
