{{ define "main" }} {{ $posts := (where .Site.RegularPages "Type" "posts") }} {{
$sortedPosts := sort $posts "Date" "desc"}} {{ $paginatePosts := .Paginate
$sortedPosts 5 }}

<article class="h-entry">
  <div class="intro">
  <p>{{ .Content }}</p>
</div>

<section>
  <h2><a href="/posts">Latest posts</h2>
  <ul class="">
    {{ range $paginatePosts.Pages }}
    <li>
      <a href="{{ .RelPermalink }}">
        <span>{{ .LinkTitle }}</span>
      </a>
      (<time
        >{{ .Date | time.Format site.Params.theme_config.date_format_short
        }}</time
      >)
    </li>
    {{ end }}
  </ul>

</section>
</article>

{{ end }}
