{{ define "main" }} {{- partial "back_link.html" . -}}

<article class="h-entry">
  <header class="mb-10">
    <h2 class="p-name">Sometimes I'll start a sentence, and I don't even...</h2>
    <p class="text-secondary">
      I'm sorry that something has led you to this 404 page. What you were
      hoping to find does not exist (anymore). Please head back to the
      <a href="/">front page</a> to continue your journey.
    </p>
  </header>

  <section>
    <div class="text-secondary my-10">Most recently...</div>

    {{ $postsDefault := where .Site.RegularPages "Type" "posts" }}

    <ul class="">
      {{ range first 5 $postsDefault }}
      <li class="-mx-3">
        <a class="block rounded p-3 hover:bg-gray-50" href="{{ .Permalink }}">
          <span class="block">{{ .Title }}</span>
          <time class="text-secondary text-sm"
            >{{- (.Date | time.Format site.Params.theme_config.date_format_full)
            }}</time
          >
        </a>
      </li>
      {{ end }}
    </ul>
  </section>

  {{ partial "backlinks.html" . }}
</article>
{{ end }}
