{{ define "main" }}

{{ $posts := where .Site.RegularPages "Type" "posts" }} {{ $cameraroll := where
.Site.RegularPages ".Params.photo" "!=" nil }} {{ $notes := where
.Site.RegularPages ".Params.photo" "=" nil }}

{{ $paginator := .Paginate (where .Site.RegularPages ".Params.photo" "!=" nil)  4 }}

<section class="prose prose-gray dark:prose-invert">
  {{ .Content }}
</section>

<section class="mt-20">
  <ul class="">
    {{ range $paginator.Pages }}
    <li class="mb-20">
      <a href="{{ .Permalink }}">
        <img
        src="{{ .Params.photo }}"
        alt="Photo for {{ .Title }}"
        class=""
      />
      </a>
    </li>
    {{ end }}
  </ul>
</section>

{{ partial "pagination.html" . }}

{{ end }}
