@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: "STIX Two Text", serif;
  @media screen and (min-width:768px) {
    font-size: 17px;
  }
}

.container {
  max-width: 500px;
  @apply mx-auto my-20 md:my-28 lg:my-40 p-0;
}

.log li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.prose :where(a):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  @apply no-underline font-normal dark:text-neutral-300 border-b border-gray-950;
}

h2, h3, h4, h5, h6, 
.prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
  @apply font-serif font-medium dark:text-neutral-100;
  /* a {
    @apply hover:text-neutral-500 dark:hover:text-neutral-400;
  } */
}


.prose blockquote {
  @apply border-l-4 border-slate-200 dark:border-slate-600 p-0 pl-6 m-0 font-serif py-3;
}

.prose blockquote p {
  @apply text-base not-italic p-0 m-0 font-medium;
}

.prose blockquote p,
.prose blockquote a {
  @apply font-medium
}

.prose blockquote blockquote {
  @apply border-none p-0 pt-3 text-slate-600
}
.prose blockquote blockquote a {
  @apply  text-slate-600 text-sm font-normal
}


.prose
  :where(blockquote p:first-of-type):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )::before,
.prose
  :where(blockquote p:first-of-type):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )::after {
  content: "";
}

.button {
  @apply font-medium text-sm border px-3 py-2 rounded text-slate-950 dark:text-neutral-300 hover:border-slate-300 dark:bg-neutral-800 dark:border-neutral-700 dark:hover:bg-neutral-800 dark:hover:border-neutral-600 dark:hover:text-neutral-300 transition-all;
}

figure figcaption {
  @apply font-serif;
}

[class*="border"] {
  @apply border-neutral-200 dark:border-neutral-700;
}


img {
  @apply rounded-xl
}

.footnotes {
  @apply text-sm
}

.footnotes li p {
  @apply leading-5;
}

.letterbird-embed .button {
  @apply bg-red-400 !important;
}

.guestbook-entry {
  @apply bg-slate-50 dark:bg-neutral-800 mb-10 p-4 rounded-lg
}