@tailwind base;
@tailwind components;
@tailwind utilities;


body, html {
  font-size: 16px;  
  @media screen and (min-width:1200px) {
    font-size:
  }
}

.container {
  max-width:550px;
}

.disabled {
  opacity: .3;
}

a {
  @apply no-underline !important;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-normal !important;
}