@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  /* font-size: 19px; */
}

body {
  font-size: 1rem;
  max-width: 650px;
}

.font-mono {
  font-size: 85%;
}

table {
  thead {
    th {
        font-family: 'Andalé Mono', monospace !important;
        font-size: 95%; 
        font-weight: normal !important;
        color: #6b7280 !important;
    }
  }
}
input[type='checkbox'],
input:checked {
  margin: 0 !important;
}

.icon {
  left: -40px;
  width: 24px;
  height: 24px;
  top: 6px;
}

.total {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  font-size: 10px;
}
 

.prose h3 { margin-top: 3rem; }
.prose h4 { margin-top: 2rem; }


content p:first-child {
  margin-top: 0 !important;
}

figure h2, figure h3, figure h4, figure h5, figure h6 {
  font-family: 'Andalé Mono', monospace !important;
  font-size: 95%;
  line-height: 160% !important;
  font-weight: normal;
  color: #6b7280;
}