@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-size: 16px;
}

.container {
  max-width: 500px;
  @apply mx-auto my-20 md:my-28 lg:my-40 p-0;
}

.log li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a, .prose :where(a):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  @apply font-normal dark:text-white;
}

.prose {
  font-size: 16px;
}

h2, h3, h4, h5, h6, 
.prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
  @apply font-normal dark:text-white;
}


.prose blockquote {
  @apply border-none p-0 m-0;
}

.prose blockquote p {
  @apply text-2xl not-italic p-0 m-0 font-normal;
}

.prose
  :where(blockquote p:first-of-type):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )::before,
.prose
  :where(blockquote p:first-of-type):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )::after {
  content: "";
}

.button {
  @apply px-3 py-1 bg-stone-200 dark:bg-white rounded;
}