{{ define "main" }} {{ partial "back_link.html" .}}

<header class="lg:w-2/3">
  <h2 class="mb-6 text-4xl leading-normal">{{ .Title }}</h2>
  <p class="text-secondary mb-7">
    These are small pieces of text and other media, writing in a hurry, left
    fleeting in my collection of notes.
  </p>
</header>

<ul class="mt-12">
  {{ $postsDefault := where .Site.RegularPages "Type" "updates" }} {{ $paginator
  := .Paginate $postsDefault }} {{ range $paginator.Pages }}
  <li class="border-b pt-4 first:border-t md:flex">
    <a href="{{ .Permalink }}"
      ><time
        class="mb-3 block text-gray-500 md:w-40 md:flex-none lg:w-72 dark:text-white/50"
        >{{- (.Date | time.Format site.Params.theme_config.date_format_archive)
        }}</time
      ></a
    >
    <article class="prose prose-gray grow dark:prose-invert">
      {{ if .Params.photo }}
      <img src="{{ .Params.photo }}" alt="{{ .Params.alt }}" class="mb-5" />
      {{ end }} {{ if .Params.replyTo }}
      <p class="u-in-reply-to mt-0">
        Replied to
        <a
          href="{{.Params.replyTo}}"
          rel="in-reply-to"
          class="u-in-reply-to text-url break-all"
          target="_blank"
        >
          {{ if .Params.replyToName }} {{.Params.replyToName}} {{ else }}
          {{.Params.replyTo}} {{ end }}
        </a>
      </p>
      {{ end }} {{ if .Params.likeOf }}
      <p class="mt-0">
        Liked
        <a
          href="{{.Params.likeOf}}"
          class="u-like-of text-url break-all"
          target="_blank"
          >{{.Params.likeOf}}</a
        >
      </p>
      {{ end }}

      <content> {{ .Content }} </content>
    </article>
  </li>
  {{ end }}
</ul>
<div class="ml-40 mt-6">{{partial "pagination.html" .}}</div>

{{ end }}
