{{ define "main" }} {{ partial "back_link.html" .}}

<header class="">
  <h2 class="">{{ .Title }}</h2>
  <p class="text-secondary mb-7">
    These are small pieces of text and other media, writing in a hurry, left
    fleeting in my collection of notes.
  </p>
</header>

<ul class="mt-20">
  {{ $postsDefault := where .Site.RegularPages "Type" "updates" }} {{ $paginator
  := .Paginate $postsDefault }} {{ range $paginator.Pages }}
  <li class="mt-20">
    <a
      href="{{ .Permalink }}"
      class="mb-3 block text-gray-500 dark:text-white/50"
      ><time class=""
        >{{- (.Date | time.Format site.Params.theme_config.date_format_archive)
        }}</time
      ></a
    >
    <article class="prose prose-gray dark:prose-invert">
      {{ if .Params.photo }}
      <img src="{{ .Params.photo }}" alt="{{ .Params.alt }}" class="mb-5" />
      {{ end }} {{ if .Params.replyTo }}
      <p class="u-in-reply-to mt-0">
        Replied to
        <a
          href="{{.Params.replyTo}}"
          rel="in-reply-to"
          class="u-in-reply-to text-url break-all"
          target="_blank"
        >
          {{ if .Params.replyToName }} {{.Params.replyToName}} {{ else }}
          {{.Params.replyTo}} {{ end }}
        </a>
      </p>
      {{ end }} {{ if .Params.likeOf }}
      <p class="mt-0">
        Liked
        <a
          href="{{.Params.likeOf}}"
          class="u-like-of text-url break-all"
          target="_blank"
          >{{.Params.likeOf}}</a
        >
      </p>
      {{ end }}

      <content> {{ .Content }} </content>
    </article>
  </li>
  {{ end }}
</ul>
<div class="ml-40 mt-6">{{partial "pagination.html" .}}</div>

{{ end }}
