{{ define "main" }} {{ partial "back_link.html" .}}

<div class="border-b pt-4 first:border-t md:flex">
  <time
    class="mb-3 block w-40 text-gray-500 sm:w-40 sm:flex-none lg:w-72 dark:text-white/50"
    >{{- (.Date | time.Format site.Params.theme_config.date_format_archive)
    }}</time
  >
  <article class="prose prose-gray grow dark:prose-invert">
    {{ if .Params.photo }}
    <img src="{{ .Params.photo }}" alt="{{ .Params.alt }}" class="mb-5" />
    {{ end }} {{ if .Params.replyTo }}
    <p class="u-in-reply-to mt-0">
      Replied to
      <a
        href="{{.Params.replyTo}}"
        rel="in-reply-to"
        class="u-in-reply-to text-url break-all"
        target="_blank"
      >
        {{ if .Params.replyToName }} {{.Params.replyToName}} {{ else }}
        {{.Params.replyTo}} {{ end }}
      </a>
    </p>
    {{ end }} {{ if .Params.likeOf }}
    <p class="mt-0">
      Liked
      <a
        href="{{.Params.likeOf}}"
        class="u-like-of text-url break-all"
        target="_blank"
        >{{.Params.likeOf}}</a
      >
    </p>
    {{ end }}

    <content> {{ .Content }} </content>
  </article>
</div>
{{ end }}
