{{ define "main" }} {{ partial "back_link.html" .}}

<header class="prose prose-gray dark:prose-invert mb-20">
  <h2 class="mb-5">{{ .Title }}</h2>
  <p class="text-secondary mb-7">
      This website contains a large <a href="/feed">feed</a> of long-form posts and fleeting <a href="/updates">updates</a> going back to the mid-aughts. Some of them are thoughtful, others written in a hurry, left fleeting in a folder. I keep them here to remind myself that life is ever-evolving, as am I.
  </p>
</header>



{{ $feed := where .Site.RegularPages "Type" "posts"  }} 
<ul class="feed"> 
  {{ range $feed }}
    <li class="flex">
      <div class="flex-none w-10 mt-[2px] flex flex-col">
        <div class="">{{ partial "post_type_post.html" . }}</div>
        <div class="grow border-l ml-2.5">&nbsp;
        </div>

      </div>
      <div class="grow mb-5">
        <h2><a href="{{ .Permalink }}">{{.Title}}</a></h2>
        <a
          href="{{ .Permalink }}"
          class="mb-3 block text-gray-500 dark:text-white/50"
          ><time class=""
            >{{- (.Date | time.Format site.Params.theme_config.date_format_archive)
            }}</time
          ></a
        >
      </div> 
  </li>
  {{ end }} 
</ul> 


{{ end }}
