{{ define "main" }} {{ partial "back_link.html" .}}

<header class="prose prose-gray mb-20 dark:prose-invert">
  <h2 class="mb-5">{{ .Title }}</h2>
  <p class="text-secondary mb-7">
    This website contains an archive of long-form posts going back to the
    mid-aughts. Some of them are thoughtful, others written in a hurry, left
    fleeting in a folder. I keep them here to remind myself that life is
    ever-evolving, as am I.
  </p>
</header>

<section>
  {{ $postsDefault := where .Site.RegularPages "Type" "posts" }}

  <ul class="">
    {{ range $postsDefault }}
    <li class="mb-5">
      <a class="" href="{{ .Permalink }}">
        <span class="block font-medium">{{ .Title }}</span>
        <time class="text-secondary text-sm"
          >{{- (.Date | time.Format
          site.Params.theme_config.date_format_archive) }}</time
        >
      </a>
    </li>
    {{ end }}
  </ul>
</section>
{{ end }}
