{{ define "main" }} {{ partial "back_link.html" .}}

<article class="container h-entry prose prose-gray dark:prose-invert">
  <header class="">
    <h2 class="p-name text-3xl mb-2 mt-0 lg:w-5/6">{{ .Title }}</h2>
    <p class="text-sm text-secondary mb-0">
      <time class="dt-published" datetime="{{ .Date }}">
        {{ .Date | time.Format site.Params.theme_config.date_verbose }}
      </time>
    </p>
  </header>


  {{ if gt .Site.Params.oldPost .Date.Year }}

  <div class="flex rounded px-2 text-xs bg-amber-100 dark:bg-yellow-100/10  text-amber-950 dark:text-amber-100 py-3 md:py-0">
      <span class="inline-block md:leading-9 mr-2 content-center">{{- partial "symbols/alert.html" . -}}</span>
      <span class="inline-block md:leading-9">I consider this post to be dated. It may no longer reflect my views.</span>
  </div>
{{ end }}
  <content class="e-content font-serif"> {{- partial "content_wikified" . -}} </content>

  {{- partial "thanks.html" . -}}
</article>

<!-- {{ partial "tags.html" .}} -->

{{ partial "backlinks.html" . }} {{ end }}
