{{ define "main" }} {{ partial "back_link.html" .}}

<article class="container h-entry prose prose-gray dark:prose-invert">
  <header class="">
    <h2 class="p-name text-3xl mb-2 mt-0 lg:w-5/6">{{ .Title }}</h2>
    <p class="text-sm text-secondary mb-0">
      <time class="dt-published" datetime="{{ .Date }}">
        {{ .Date | time.Format site.Params.theme_config.date_verbose }}
      </time>
    </p>
  </header>

  <content class="e-content font-serif"> {{- partial "content_wikified" . -}} </content>

  {{- partial "thanks.html" . -}}
</article>

<!-- {{ partial "tags.html" .}} -->

{{ partial "backlinks.html" . }} {{ end }}
