{{ define "main" }} {{ partial "back_link.html" .}}

<header class="">
  <h2 class="mb-5">{{ .Title }}</h2>
  <p class="text-secondary mb-7">
    This website contains posts dating back to the mid-aughts. I keep them here
    to remind myself that life is ever-evolving, as am I.
  </p>
</header>

{{ $postsDefault := where .Site.RegularPages "Type" "posts" }}

<ul class="mt-14">
  {{ range $postsDefault }}
  <li class="border-b py-2 first:pt-0 last:border-b-0 md:flex">
    <a class="block md:grow" href="{{ .Permalink }}">{{ .Title }}</a>
    <time
      class="text-gray-500 md:flex-none dark:text-white dark:text-opacity-50"
      >{{- (.Date | time.Format site.Params.theme_config.date_format_archive)
      }}</time
    >
  </li>
  {{ end }}
</ul>

{{ end }}
