{{ define "main" }}
{{ partial "back_link.html" .}}

<header class="prose mb-20 dark:prose-invert">
    <h2>{{ .Title }}</h2>
    <p class="">This website contains a post archive going back to the mid-aughts. Some are outdated, incorrect, perhaps even embarrassing, but they're all mine.</p>
</header>
 

 
{{ $postsDefault := where .Site.RegularPages "Type" "posts" }}

<ul>
    {{ range $postsDefault }}
    <li class="mb-3"> 
        <a class="border-dashed border-b border-gray-400" href="{{ .Permalink }}">{{ .Title }}</a> - <time class=" text-gray-500 dark:text-white dark:text-opacity-50">{{- (.Date | time.Format site.Params.theme_config.date_format_archive) }}</time>
    </li>
    {{ end }} 
</ul>  
{{ end }}

