{{ define "main" }}
{{ partial "back_link.html" .}}

<article class="h-entry prose prose-blue lg:prose-xl dark:prose-invert">
    <header class="mb-20">
        <h2 class="p-name">{{ .Title }}</h2>
        <time datetime="{{ .Date }}">
            {{ .Date | time.Format site.Params.theme_config.date_format }}
        </time>
    </header>
 

    {{ if .Params.toc }}
        <aside {{ if .Params.tocBorder }} class="toc" {{ end }}>
            {{ .TableOfContents }}
        </aside>
    {{ end }}

    <div class="e-content">
        {{ .Content }}
    </div>
</article>
{{ end }}
