{{ define "main" }}
{{ partial "back_link.html" .}}

<article class="h-entry prose prose-gray dark:prose-invert dark:text-opacity-50">
    <header class="mb-20">
        <h2 class="p-name mb-2">{{ .Title }}</h2>
        <time class="font-mono dt-published" datetime="{{ .Date }}">
            {{ .Date | time.Format site.Params.theme_config.date_format_archive }}
        </time>
    </header> 

    <div class="my-5">
        {{ if .Params.toc }}
        <aside {{ if .Params.tocBorder }} class="toc" {{ end }}>
            {{ .TableOfContents }}
        </aside>
    {{ end }}
    </div>

    <content class="e-content">
        {{- partial "content_wikified" . -}}
    </content>

    <p class="mt-20 text-gray-500 dark:text-white dark:text-opacity-50 h-card">This was written by 
        <span class="p-name">
            <span class="p-given-name">Zinzy</span>
            <span class="p-family-name">Waleson Geene</span>
        </span>
        on her personal website, <a href="https://zinzy.website" class="u-url">zinzy.website</a>. This website <a href="/site#privacy">doesn't track you</a>, and so Zinzy doesn't know you're here unless you tell her. She loves, and I mean <em>loves</em> <a href="/hello">receiving messages</a> from Internet strangers.</p>


    {{ partial "tags.html" .}}

    {{ partial "backlinks.html" . }}



</article>
{{ end }}
