@tailwind base;
@tailwind components;
@tailwind utilities;


body, html {
  /* font-size: 16px;   */
  /* @media screen and (min-width:1200px) {
    font-size:
  } */
}

body {
  @apply dark:text-white;
}

.container {
  max-width:550px;
}



a {
  @apply no-underline font-normal !important;
  &:hover {
    @apply underline underline-offset-2 !important;
  }
}

h1, h2, h3, h4, h5, h6 {
  @apply font-normal !important;
}


time {
}

p, ul {
  a {
    @apply underline underline-offset-2 !important;
  }
}

time a {
  @apply no-underline !important
}

.footnotes hr {
  display: none;
}

figcaption {
  @apply text-gray-500 dark:text-zinc-300
}

figcaption a {
  @apply text-gray-500 dark:text-zinc-300 underline
}

.tags a {
  @apply no-underline
}