@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body, html {
  /* font-size: 19px; */
}

@layer components {
  .border,
  .border-r,
  .border-l,
  .border-t,
  .border-b,
  .border-x,
  .border-y {
      @apply border-gray-200 dark:border-white/20;
  }
}

body {
  font-size: 1rem;
  max-width: 650px;
}

.font-mono {
  font-size: 85%;
}

table {
  thead {
    th {
        font-size: 95%; 
        font-weight: normal !important;
        /* color: #6b7280 !important; */
    }
  }
}
input[type='checkbox'],
input:checked {
  margin: 0 !important;
}

.icon {
  left: -40px;
  width: 24px;
  height: 24px;
  top: 6px;
}

.total {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  font-size: 10px;
}
h2, h3, h4, h5, h6, 
.prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
  @apply text-gray-500 dark:text-white/50 text-base font-normal;
}
.prose h2 { margin: 0; }
.prose h3 { margin-top: 2.5rem; }
.prose h4 { margin-top: 2rem; }


content p:first-child {
  margin-top: 0 !important;
}

.prose figure h2, .prose figure h3, .prose figure h4, .prose figure h5, .prose figure h6 {
  font-size: 95%;
  line-height: 160% !important;
  font-weight: normal;
  margin-top: .5rem;
  color: #6b7280;
}


.bookmarks {
  margin-bottom: 2rem;
}

.footnotes hr {
  border: 0;
  margin: 0;
  padding: 0;
}

.back-link {
  text-decoration: none;
  line-height: 1.6em;
  aspect-ratio: 1/1;
  display: inline-block;
  border-radius: 4em;
}

a {
  @apply underline decoration-inherit hover:opacity-70 transition-all;
  border: 0;
}

@media (prefers-color-scheme: dark) {
  header nav ul li a {
    color: rgba(255,255,255,.5);
  }
  hr {
    border-color:  rgba(255,255,255,.3);
  }
  .prose a {
    border-color: white;
  }
  nav ul li:not(:last-child):after {
    color: rgba(255,255,255,.3);
  }
  .prose figure h2, .prose figure h3, .prose figure h4, .prose figure h5, .prose figure h6 {
    color: rgba(255,255,255,.7);
  }
}
 
h1#footnotes {
 @apply mt-12 pt-12 border-t font-base font-normal;
}

.footnotes hr {
  display: none;
}

.footnotes {
  @apply text-sm text-gray-500 dark:text-white/50;
}