@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  font-size: 14px;
  /* @media screen and (min-width:1200px) {
    font-size:
  } */
}

body {
  @apply dark:text-white;
}

.container {
  max-width: 500px;
}

strong a {
  @apply font-semibold !important;
}

.prose a {
  @apply font-normal;
}

h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold !important;
  a {
    @apply font-normal no-underline;
  }
}

header ul li a {
  @apply underline;
}

div[class*="border"] {
  @apply border-neutral-200 dark:border-neutral-800;
}

a[target="_blank"]::after {
  @apply content-['↗'] align-super;
  font-size: 50%;
}

.prose {
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-normal !important;
    a {
      @apply font-normal no-underline;
    }
  }
}

time a {
  @apply text-neutral-500 dark:text-neutral-400 no-underline !important;
}

.footnotes hr {
  display: none;
}

figcaption {
  @apply text-neutral-500 dark:text-neutral-300;
}

figcaption a {
  @apply text-neutral-500 dark:text-neutral-300 underline;
}

.tags a {
  @apply uppercase no-underline text-neutral-600 dark:text-neutral-300 hover:no-underline bg-neutral-200 font-medium dark:bg-neutral-800 mr-1 mb-2 px-2 py-1 rounded hover:bg-neutral-300/30 hover:dark:bg-neutral-700 transition-all text-xs;
}

.tags a:hover {
  @apply no-underline !important;
}

.tags li {
  @apply inline-block m-0 p-0 mb-3;
}
