body {
  font-family: serif;
  font-size: 17px;
  line-height: 150%;
  padding: 30px;
  /* -webkit-font-smoothing: antialiased; */
  @media screen and (min-width: 768px) {
    max-width: 500px;

    margin: 0 auto;
  }
}

h1, h2, h3, h4, h5, h6 {
  /* font-weight: bold; */
  font-size: 100%;
  font-family: sans-serif;
}

ul.photos {
  list-style: none;
  li {
    margin-top: 100px;
    padding: 0;
    @media screen and (min-width: 768px) {
      margin-top: 100px;
    }
  }
}

.hidden {
  display: none;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: 768px) {
    margin: 50px auto;
  }
  nav {
    ul {
      li {
        display: inline-block;
        margin-left: 20px
      }
    }
  }
}

.intro {
  margin: 50px 0;
}

.site-footer {
  margin-top: 100px;
  ul {
    margin: 0;
    padding:0;
    text-align: center;
    line-height: 100%;
    li {
      line-height: 100%;
      margin: 0 20px;
      padding:0;
      display: inline-block;
    }
  }
}

a {
  /* text-decoration: none; */
}

img, video {
  max-width: 100%;
  height: auto;
}

.now li {
  border: 1px solid black;
}

.page-footer {
  border-top: 1px solid silver;
  padding-top: 20px;
  margin-top: 20px;
}

section {
  margin-top: 50px;
}