<!-- <header id="header" class="hidden fixed  w-full p-4 flex justify-between">
  <div class=""><h1><a href="/">Zinzy</a></h1></div>
  {{ if not .IsHome }}
  {{ else }} {{ end }}
  <div>
    <details class="ml-10">
      <summary class="text-right cursor-pointer">menu</summary>
      <div class="lg:mt-4 fixed right-0 lg:right-4 lg:max-w-80  bg-white p-2 rounded text-sm w-full">


        <div class="flex flex-row items-center gap-2 mb-2">

          <a class="place-content-center border group rounded h-9 w-9 hover:bg-accent hover:border-accent transition duration-500 ease-in-out flex-none"><span class="inline-block mx-auto">{{- partial "symbols/rss.html" . -}}</span></a>
          
          <form id="search" method="get" action="https://duckduckgo.com/" class="flex border h-9 transition duration-500 ease-in-out rounded items-stretch w-full mousetrap" aria-label="Search this website">
          <input id="siteSearch" type="search" name="q" placeholder="Search" class="bg-white pl-2 grow" aria-label="Search this website">
          <input type="hidden" name="sites" value="zinzy.website">
          <button type="submit" class="align-bottom button-container -ml-[0.175rem] p-2.5 hover:bg-transparent group -ml-[4px]" aria-label="Search">
            {{- partial "symbols/search.html" . -}}
          </button>
          </form>
        </div>

          <nav class="border rounded mb-2" aria-label="Navigation for content">
            <ul>
             {{ range .Site.Menus.content }}
              <li class="group">
               <a href="{{ .URL }}" class="px-2 h-9 leading-9 flex justify-between group border-t group-first:border-0">
                <span class="grow">{{ .Name }}</span>
                <span class="flex-none hidden group-hover:block text-secondary content-center" >{{- partial "symbols/arrow_right.html" . -}}</span>
               </a>
              </li>
             {{ end }}
            </ul>
           </nav>

          <p class="text-secondary my-3 text-xs">This space is entirely devoid of AI.</p>


          <nav class="border rounded" aria-label="Navigation for information">
            <ul>
             {{ range .Site.Menus.info }}
              <li class="group">
               <a href="{{ .URL }}" class="px-2 h-9 leading-9 flex justify-between group border-t group-first:border-0">
                <span class="grow">{{ .Name }}</span>
                <span class="flex-none hidden group-hover:block text-secondary content-center" >{{- partial "symbols/arrow_right.html" . -}}</span>
               </a>
              </li>
             {{ end }}
            </ul>
           </nav>

          <p class="text-secondary mt-3 text-xs">Smile, you're on the IndieWeb</p>
      </div>
    </details>
  </div>
</header> -->


<header class="flex p-4">
  <div class="grow">
    <h1><a href="/">Zinzy</a></h1>
  </div>
  <div class="flex-none">
    <nav class="">
      <ul>
        {{ range .Site.Menus.main }}
         <li class="inline-block ml-3 ">
          <a href="{{ .URL }}" class="">{{ .Name }}</a>
         </li>
        {{ end }}
       </ul>
    </nav>
  </div>
</header>


 
