<footer
  class="border mt-14 rounded text-sm"
>

<div class="p-4">
  <div class="">
    <h4 class="m-0">Thank you for being here</h4>
    <p class="text-secondary mb-3">I maintain this website for my own pleasure; because, even after almost 30 years, I remain enthralled with act of writing things on the Internet. If you like what you see here, reach out to say so, or consider buying me coffee.</p>
  </div>
  <ul class="list-none m-0 p-0">
    <li class="p-0 m-0 inline-block">
      <a href="/hello" class="flex border rounded px-2 text-xs">
        <span class="inline-block leading-9 mr-2 content-center">{{- partial "symbols/mail.html" . -}}</span>
        <span class="inline-block leading-9">Say hello</span>
      </a>
    </li>
    <li class="p-0 m-0 ml-3 inline-block">
      <a href="https://ko-fi.com/zinzy" class="flex border rounded px-2 text-xs" target="_blank">
        <span class="inline-block leading-9 mr-2 content-center">{{- partial "symbols/coffee.html" . -}}</span>
        <span class="inline-block leading-9">Buy me coffee</span>
      </a>
    </li>
  </ul>
</div>