{{ define "main" }} {{ partial "back_link.html" .}}

<header class="">
  <p class="text-secondary mb-0 text-sm">{{ .Title }}</p>
  <h2 class="p-name my-2 text-2xl">
    This website contains a growing number of undated notes on all sorts of
    subjects.
  </h2>
</header>

<section class="prose prose-gray mt-20 dark:prose-invert">
  <p>
    I tend to them, add resources, change my perspective, and let them grow over
    time. There is no index available of these notes. Instead, I'm happy to
    point you in the direction of a few starting points that you may enjoy.
  </p>
</section>

{{ end }}
