{{ define "main" }} {{ partial "back_link.html" .}}

<article class="h-entry">
  <header class="">
    <p class="text-secondary mb-0 text-sm">
      <time class="dt-published" datetime="{{ .Date }}">
        {{ .Date | time.Format site.Params.theme_config.date_format_full }}
      </time>
    </p>
    <h2 class="p-name mt-0 text-2xl">
      <a class="u-url" href="{{ .Permalink }}">{{ .Title }}</a>
    </h2>
  </header>

  {{ if gt .Site.Params.oldPost .Date.Year }}

  <div
    class="mb-14 flex rounded bg-pink-50 p-3 text-xs text-pink-700 dark:bg-pink-300/10 dark:text-white"
  >
    <span class="mr-2 inline-block content-center md:leading-9"
      >{{- partial "symbols/alert.html" . -}}</span
    >
    <span class="inline-block"
      >I published this piece quite a while ago. Though I enjoy the art of
      public record-keeping, you should know it may no longer reflect my
      views.</span
    >
  </div>
  {{ end }}
  <content
    class="e-content prose prose-gray relative dark:prose-invert"
  >
    {{ if .Params.sidenote }}
    <div class="aside">{{ .Params.sidenote | markdownify }}</div>
    {{ end }} {{- partial "content_wikified" . -}}
  </content>

  
</article>

<!-- {{ partial "tags.html" .}} -->

{{ partial "backlinks.html" . }} {{ end }}
