{{ define "main" }} {{ partial "back_link.html" .}}

<div class="">
  <section class="h-entry">
    {{ $posts := where .Data.Pages "Type" "posts" }} {{ $micro := where
    .Data.Pages "Type" "micro" }} {{ $filtered := union $posts $micro }} {{
    $feed := $filtered }} {{ $sortedfeed := $feed.ByDate.Reverse }} {{
    $paginator := .Paginate $sortedfeed 7 }} 
    
    <ul class="summarised-posts">
    {{ range $paginator.Pages }}
<li>
   <article class="">
      <time class="dt-published text-secondary" datetime="{{ .Date }}">
        <a href="{{ .Permalink }}">
          {{ .Date | time.Format site.Params.theme_config.date_format_medium }}
        </a>
      </time>
      {{ if .Params.title }}
      <h2 class="p-name mb-5">
        <a href="{{ .Permalink }}">{{ .Params.title }}</a>
      </h2>
      {{ end }} {{ if .Params.title }}
      <div class="prose dark:prose-invert">
        {{ .Summary }} (<a href="{{ .Permalink }}" class="button"
          >Keep reading</a
        >)
      </div>
      {{ else }} {{ end }}
</li>
    {{ end }} </ul>{{ partial "pagination.html" . }}
  </section>
</div>

{{ end }}
