<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}" class="scroll-smooth min-h-full">
    {{- partial "head.html" . -}}
    <div id="top" class="hidden scroll-smooth"></div>
    <body class="p-5 min-h-full antialiased bg-white dark:bg-neutral-900 text-neutral-950 dark:text-neutral-100" a="{{ $.Site.Params.theme_config.appearance | default "auto" }}">
         

        {{- partial "header.html" . -}} 

        <div class="container"> 



            <main class="" aria-label="Content">
                <div class="my-30">
                    {{- block "main" . }}{{- end }}
                </div> 
            </main>
 

            {{ if not .IsHome }}
            {{- partial "webmentions.html" . -}}
            {{ end }}
         
 
        </div> 


        {{- partial "footer.html" . -}}

        <ul class="h-card hidden">
            <li class="p-name">
                <a class="u-url u-uid text-primary font-medium" href="/">
                    <span class="">
                      <span class="p-given-name">Zinzy</span>
                      <span class="p-family-name">Waleson Geene</span>
                    </span>
                </a>
            </li>
            <li class="u-photo"><img src="/img/avatar.png" alt="Portrait of Zinzy Waleson Geene"></li>
            <li class="p-nickname">Zinzatron</li>
            <li class="p-org">Gerimedica</li>
            <li class="p-job-title">Senior Product Designer</li>
            <li class="p-role">Enterprise SaaS designer of healthcare software</li>
            <li class="p-locality">Amsterdam</li>
            <li class="p-region">North Holland</li>
            <li class="p-country-name">The Netherlands</li>
            <li class="p-note">Advocate for the small, open, indie, cozy web</li>
            <li class="p-category">Designer</li>
            <li class="p-gender-identity">Non-binary</li>
            <li class="u-sound">ZIN-zee WHALE-son GHEE-n</li>
        </ul>
  
        <script src="/src/site.js"></script>
    </body>
</html>
