{{ define "main" }} {{ partial "back_link.html" .}}

<div class="">
  <article class="h-entry">
    <header class="">
      {{ if or (eq .Section "posts") (eq .Section "micro") }}
      <time class="dt-published mb-5" datetime="{{ .Date }}">
        <a href="{{ .Permalink }}"
          >{{ .Date | time.Format site.Params.theme_config.date_format_medium
          }}</a
        >
      </time>
      {{ else }}{{ end }} {{ if .Params.title }}
      <h2 class="p-name text-2xl mt-5 mb-10 md:mb-20">
        <a class="u-url" href="{{ .Permalink }}">{{ .Params.title }}</a>
      </h2>
      {{ end }}

      <div class="u-author h-card hidden">
        <img src="/img/avatar.png" class="u-photo" />
        <a href="/" class="u-url p-name">Zinzy Waleson Geene</a>
      </div>
    </header>

    {{ if or (eq .Section "posts") (eq .Section "shorts") }} {{ if gt
    .Site.Params.oldPost .Date.Year }}

    <div
      class="mb-10 flex rounded bg-zinc-100 p-3 text-sm text-zinc-700 dark:bg-zinc-700 dark:text-white"
    >
      <span class="mr-2 inline-block content-center md:leading-9"
        >{{- partial "symbols/alert.html" . -}}</span
      >
      <span class="inline-block">
        I published this piece quite a while ago. Though I enjoy the art of
        public record-keeping, you should know it may no longer reflect my
        views.</span
      >
    </div>
    {{ end }} {{ end }}

    <content class="e-content prose prose-gray dark:prose-invert">
      <div class="mt-5">
        {{ if .Params.replyTo }} {{ if .Params.rsvp }}
        <p>
          {{ if eq .Params.rsvp "yes" }}<data class="p-rsvp" value="YES"
            >Is going</data
          >
          to {{ else if eq .Params.rsvp "maybe" }}<data
            class="p-rsvp"
            value="Maybe"
            >Might go</data
          >
          to {{ else if eq .Params.rsvp "no" }}<data class="p-rsvp" value="no"
            >Unable to go</data
          >
          to {{ else if eq .Params.rsvp "interested" }}<data
            class="p-rsvp"
            value="interested"
            >Is interested</data
          >
          in {{ end }}

          <a
            href="{{.Params.replyTo}}"
            rel="in-reply-to"
            class="u-in-reply-to text-url break-all font-normal underline"
            target="_blank"
          >
            {{ if .Params.replyToName }} {{.Params.replyToName}} {{ else }}
            {{.Params.replyTo}} {{ end }}
          </a>
        </p>

        {{ else }}

        <p class="u-in-reply-to mt-0 mb-5">
          Replied to
          <a
            href="{{.Params.replyTo}}"
            rel="in-reply-to"
            class="u-in-reply-to text-url break-all font-normal underline"
            target="_blank"
          >
            {{ if .Params.replyToName }} {{.Params.replyToName | markdownify }}
            {{ else }} {{.Params.replyTo}} {{ end }}
          </a>
        </p>
        {{ end }} {{ else if .Params.likeOf }}
        <p class="mt-0 mb-5 h-cite u-like-of">
          Liked
          <a
            href="{{.Params.likeOf}}"
            class="text-url break-all font-normal underline"
            target="_blank"
          >
            {{ if .Params.likeOfName }} {{.Params.likeOfName | markdownify}} {{
            else }} {{.Params.likeOf}} {{ end }}
          </a>
        </p>
        {{ end }}
      </div>
      {{ if .Params.sidenote }}
      <div class="bg-neutral-200/50 p-3 mb-10">
        {{ .Params.sidenote | markdownify }}
      </div>
      {{ end }} {{- partial "content_wikified" . -}}
    </content>
  </article>
  <div class="my-20">{{ partial "tags.html" .}}</div>

  <div class="my-20">
    {{ $re := .RelPermalink }} {{ $backlinks := slice }} {{ range
    .Site.RegularPages }} {{ if and (findRE $re .RawContent) }} {{ $backlinks =
    $backlinks | append . }} {{ end }} {{ end }} {{ if gt (len $backlinks) 0 }}
    <h3 class="font-normal text-xl mb-5">Linking to this page</h3>
    <div class="backlinks prose prose-gray dark:prose-invert">
      <ul class="">
        {{ range $backlinks }} {{ if not .IsHome }}
        <li class="">
          <a href="{{ .RelPermalink }}">
            {{ if .Title }} {{ .Title }} {{ else }} {{ .Date | time.Format
            site.Params.theme_config.date_format_date_time }} {{ end }}
          </a>
        </li>
        {{ end }} {{ end }}
      </ul>
    </div>
    {{ else }}
    <!-- <aside>
      <h4>No notes link to this note</h4>
    </aside> -->
    {{ end }}
  </div>

  <div class="my-20 border-t pt-5 flex justify-between">
    <p>Comments? <a href="/hello" class="underline">Say hello</a></p>
    <p>Follow me via <a href="/index.xml" class="underline">RSS</a></p>
  </div>
</div>
{{ end }}
