{{ define "main" }}
{{ partial "back_link.html" .}}

<header class="prose mb-20 dark:prose-invert">
    <h2>Things tagged <span class="bg-gray-100 text-gray-600 p-1 px-2 rounded ml-3"># {{ .Title }}</span></h2>
</header>
 
<ul>
    {{ range .Data.Pages }}
    <li class="mb-3"> 
      <a class="border-dashed border-b border-gray-400" href="{{.RelPermalink}}">{{ .Title }}</a> - <time class=" text-gray-500 dark:text-white dark:text-opacity-50">{{- (.Date | time.Format site.Params.theme_config.date_format_archive) }}</time>
    </li>
    {{ end }}
  </ul>
  {{ end }}